<div class="container" style="margin-top: 30px;" *ngIf="showForms">
    <mat-card style="width: 100%; padding-bottom: 80px;">
        <div *ngIf="errMessage" class="warning" role="warning">
            {{errMessage}}
        </div>
        <div class="d-flex flex-justify-between">
            <h4 class="signup-title mt-4 ml-2 col-md-8">Add Distributed Transformer Inputs</h4>
        </div>


        <form [formGroup]="DisTransformerInputs" novalidate (submit)="addNewTransformerVariant()">
            <div class="row">

                <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                    <mat-label>Select your country</mat-label>
                    <mat-select matNativeControl id="Country" formControlName="Country">
                        <mat-option *ngFor="let con of countrylist" [value]="con">{{con}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="DisTransformerInputs.controls['Country'].hasError('required') && submitted">
                        Country is required
                    </mat-error>
                </mat-form-field>

                <div class="mt-4 col-md-6">
                    <button mat-raised-button color="accent" style="color: #fff;" class="mat-elevation-z6" type="button" (click)="addTransformerVariant()">
                        Add Transformer</button>
                </div>

                <div formArrayName="forminputs" *ngFor="let variant of DisTransformerInputs.get('forminputs')['controls']; let i = index;">
                    <div [formGroupName]="i" style="border: 1px solid #bbb; margin: 20px;">

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>Power</mat-label>
                            <input type="number" class="pro-name" matInput placeholder="Enter Power" formControlName="Power" required>
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Power'].hasError('required') && submitted">
                                Power is required
                            </mat-error>
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Power'].hasError('pattern')">
                                Enter numerical values
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>Stock</mat-label>
                            <input type="number" class="pro-name" matInput placeholder="Enter Stock" formControlName="Stock" required>
                            <!-- <mat-hint color="primary">Provide Stock</mat-hint> -->
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Stock'].hasError('required') && submitted">
                                Stock is required
                            </mat-error>
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Stock'].hasError('pattern')">
                                Enter numerical values
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>PlateEfficiency</mat-label>
                            <input type="number" class="pro-name" matInput placeholder="Enter PlateEfficiency" formControlName="PlateEfficiency" required>
                            <!-- <mat-hint color="primary">Provide PlateEfficiency</mat-hint> -->
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['PlateEfficiency'].hasError('required') && submitted">
                                PlateEfficiency is required
                            </mat-error>
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['PlateEfficiency'].hasError('pattern')">
                                Enter numerical values
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>Energy</mat-label>
                            <input type="number" class="pro-name" matInput placeholder="Enter Energy" formControlName="Energy" required>
                            <!-- <mat-hint color="primary">Provide Energy</mat-hint> -->
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Energy'].hasError('required') && submitted">
                                Energy is required
                            </mat-error>
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Energy'].hasError('pattern')">
                                Enter numerical values
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>EnergyPrice</mat-label>
                            <input type="number" class="pro-name" matInput placeholder="Enter EnergyPrice" formControlName="EnergyPrice" required>
                            <!-- <mat-hint color="primary">Provide EnergyPrice</mat-hint> -->
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['EnergyPrice'].hasError('required') && submitted">
                                EnergyPrice is required
                            </mat-error>
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['EnergyPrice'].hasError('pattern')">
                                Enter numerical values
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>PolicyLevel</mat-label>
                            <mat-select matNativeControl id="PolicyLevel" formControlName="PolicyLevel">
                                <mat-option *ngFor="let policy of policyLevels" [value]="policy">{{policy}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>FireRegulation</mat-label>
                            <mat-select matNativeControl id="FireRegulation" formControlName="FireRegulation">
                                <mat-option *ngFor="let Regulation of FireRegulation" [value]="Regulation">{{Regulation}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>HighestVoltageValues</mat-label>
                            <mat-select matNativeControl id="HighestVoltageValues" formControlName="HighestVoltageValues">
                                <mat-option *ngFor="let voltage of highestVoltageValueslist" [value]="voltage">{{voltage}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>DualVoltWindings</mat-label>
                            <mat-select matNativeControl id="DualVoltWindings" formControlName="DualVoltWindings">
                                <mat-option *ngFor="let voltwindings of dualVoltWindings" [value]="voltwindings">{{voltwindings}}</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
                            <mat-label>Capex</mat-label>
                            <input type="number" class="pro-name" matInput placeholder="Enter Capex" formControlName="Capex" required>
                            <!-- <mat-hint color="primary">Provide Capex</mat-hint> -->
                            <mat-error *ngIf="DisTransformerInputs.get('forminputs').controls[i].controls['Capex'].hasError('required') && submitted">
                                Capex is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="col-md-10 mt-2">
                    <button mat-raised-button color="accent" style="color: #fff;" class="mat-elevation-z6" type="button" (click)="addTransformerVariant()">Add
                        another Transformer</button>
                </div> -->
                <div class="text-center mt-5 col-md-10">
                    <button mat-raised-button type="submit" color="primary" style="height: 50px;" class="mat-elevation-z6">Submit
                        Transformers</button>
                </div>
            </div>
        </form>
    </mat-card>
    <!-- Copyright 2021 Google LLC. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
</div>
<div class="container container-fluid pt-4 pb-4" *ngIf="!showForms">
    <h2 class="page-title">Proposed changes and potential savings</h2>
    <div class="row container-fluid">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="efficacy">
                <th mat-header-cell *matHeaderCellDef> Efficacy </th>
                <td mat-cell *matCellDef="let element"> {{element.efficacy}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="ll">
                <th mat-header-cell *matHeaderCellDef> Ll </th>
                <td mat-cell *matCellDef="let element"> {{element.ll}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nl">
                <th mat-header-cell *matHeaderCellDef> Nl </th>
                <td mat-cell *matCellDef="let element"> {{element.nl}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="energyeffyincrease">
                <th mat-header-cell *matHeaderCellDef> Energy Efficiency Increase </th>
                <td mat-cell *matCellDef="let element"> {{element.energyeffyincrease}} </td>
            </ng-container>

            <ng-container matColumnDef="energy">
                <th mat-header-cell *matHeaderCellDef> Energy </th>
                <td mat-cell *matCellDef="let element"> {{element.energy}} </td>
            </ng-container>

            <ng-container matColumnDef="financial">
                <th mat-header-cell *matHeaderCellDef> Financial </th>
                <td mat-cell *matCellDef="let element"> {{element.financial}} </td>
            </ng-container>

            <ng-container matColumnDef="paybackperiod">
                <th mat-header-cell *matHeaderCellDef> Payback period </th>
                <td mat-cell *matCellDef="let element"> {{element.paybackperiod}} </td>
            </ng-container>

            <ng-container matColumnDef="co2baseline">
                <th mat-header-cell *matHeaderCellDef> Co2 baseline </th>
                <td mat-cell *matCellDef="let element"> {{element.co2baseline}} </td>
            </ng-container>

            <ng-container matColumnDef="co2savingston">
                <th mat-header-cell *matHeaderCellDef> Co2 Savings in ton </th>
                <td mat-cell *matCellDef="let element"> {{element.co2savingston}} </td>
            </ng-container>

            <ng-container matColumnDef="co2savingspercent">
                <th mat-header-cell *matHeaderCellDef> Co2 Savings in % </th>
                <td mat-cell *matCellDef="let element"> {{element.co2savingspercent}} </td>
            </ng-container>

            <ng-container matColumnDef="finalco2emissions">
                <th mat-header-cell *matHeaderCellDef> Final Co2 emissions </th>
                <td mat-cell *matCellDef="let element"> {{element.finalco2emissions}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="row">
        <div class="container-fluid mt-5 col-md-6">
            <div class="chart-wrapper">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
              </canvas>
            </div>
        </div>
        <div class="container-fluid mt-5 col-md-6">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
        </div>
    </div>
</div>