<fieldset style="margin-top: 4rem;">
    <legend>Lighting fixture details(Stock and Technology type of lighting fixtures.) </legend>
    <h2>Lighting fixture details(Stock and Technology type of lighting fixtures.) </h2>


    <div class="container-fluid beet-container">
        <div class="fields-note">
            <p><span class="notes-style"> {{'BEEC.COMMON.NOTE' | translate}}:</span> Please be ready with type, number, power rating (wattage) details of the lighting fixtures</p>
        </div>
        <div class="example-table-container">
            <table mat-table [dataSource]="lightingOptionsDataSource" multiTemplateDataRows>

                <ng-container matColumnDef="technology">
                    <th mat-header-cell *matHeaderCellDef> Technology </th>
                    <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="6" [style.display]="getStyleDisplay(i,6) ? '' : 'none'">
                        {{element.technology}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="lightingimagepath">
                    <th mat-header-cell *matHeaderCellDef> Technology Image </th>
                    <td mat-cell *matCellDef="let element ;let i = dataIndex" [attr.rowspan]="6" [style.display]="getStyleDisplay(i,6) ? '' : 'none' ">
                        <img [src]="element.lightingimagepath" class="light-image"/>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Yearofinstallation">
                    <th mat-header-cell *matHeaderCellDef> Year of installation </th>
                    <td mat-cell *matCellDef="let element;let i = dataIndex" [style.background]="getenableyearofinstallation(0,5,i) || getenableyearofinstallation(24,41,i)  ? 'gray' :'' ">
                        <mat-select [disabled]="getenableyearofinstallation(0,5,i) || getenableyearofinstallation(24,41,i)" [(ngModel)]="lightingOptions[i].yearofinstallation">
                            <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>


                <ng-container matColumnDef="LampPower">
                    <th mat-header-cell *matHeaderCellDef> Lamp Power (Watts)</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        <input matInput type="number" [(ngModel)]="lightingOptions[i].lamppower">
                    </td>
                </ng-container>

                <ng-container matColumnDef="StockofFixtures">
                    <th mat-header-cell *matHeaderCellDef> Stock of Fixtures</th>
                    <td mat-cell *matCellDef="let element; let i = dataIndex">
                        <input matInput type="number" [(ngModel)]="lightingOptions[i].fixtures">
                    </td>
                </ng-container>

                <ng-container matColumnDef="LumenOutput">
                    <th mat-header-cell *matHeaderCellDef> Lumen Output(Optional) </th>
                    <td mat-cell *matCellDef="let element;let i = dataIndex" [style.background]="getenableyearofinstallation(6,41,i) ? 'gray' :'' ">
                        <input [disabled]="getenableyearofinstallation(6,41,i)" matInput type="number" [(ngModel)]="lightingOptions[i].lumenoutput">
                    </td>
                </ng-container>

                <ng-container matColumnDef="Averagedailyworkinghours">
                    <th mat-header-cell *matHeaderCellDef> Average daily working hours(Optional) </th>
                    <td mat-cell *matCellDef="let element;let i = dataIndex">
                        <input matInput type="number" [(ngModel)]="lightingOptions[i].avgdailyworkinghours">
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row class="mat-row-class" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div>
            <button mat-raised-button color="primary" style="margin-top: 1rem;" (click)="postCalculateLightingPower()">Calculate</button>
        </div><br>

        <b>Lighting power density :{{this.LightningDetailsForm.controls.lightingPowerDensityValue.value}}{{this.LightningDetailsForm.controls.lightingPowerDensityUnit.value}}</b><br>
        <b>Total lighting power :{{this.LightningDetailsForm.controls.totalLightingPowerValue.value}}{{this.LightningDetailsForm.controls.totalLightingPowerUnit.value}}</b>


    </div>
</fieldset>