<fieldset style="margin-top: 4rem;">
    <legend>Lighting fixture details(Stock and Technology type of lighting fixtures.) </legend>
    <h2>Lighting fixture details(Stock and Technology type of lighting fixtures.) </h2>


    <div class="container-fluid beet-container">
        <form [formGroup]="formgroup" class="form">
            
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> Please be ready with type, number, power rating (wattage)
                    details
                    of the lighting fixtures</p>
            </div>
        </form>

        <table mat-table [dataSource]="lightingOptionsDataSource" multiTemplateDataRows>

            <ng-container matColumnDef="technology">
                <th mat-header-cell *matHeaderCellDef> Technology </th>
                <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="6"
                [style.display]="getStyleDisplay(i,6) ? '' : 'none'">
                    {{element.technology}}
                </td>
            </ng-container>

            <ng-container matColumnDef="lightingimagepath">
                <th mat-header-cell *matHeaderCellDef> Technology Image </th>
                <td mat-cell *matCellDef="let element ;let i = dataIndex" [attr.rowspan]="6"
                    [style.display]="getStyleDisplay(i,6) ? '' : 'none' ">
                    <img [src]="element.lightingimagepath" />
                </td>
            </ng-container>

            <ng-container matColumnDef="Yearofinstallation">
                <th mat-header-cell *matHeaderCellDef> Yearofinstallation </th>
                <td mat-cell *matCellDef="let element;let i = dataIndex"
                    [style.background]="getenableyearofinstallation(0,5,i) || getenableyearofinstallation(24,41,i)  ? 'gray' :'' ">
                    <mat-select [disabled]="getenableyearofinstallation(0,5,i) || getenableyearofinstallation(24,41,i)">
                        <mat-option *ngFor="let year of yearsList" [value]="year">{{year}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>


            <ng-container matColumnDef="LampPower">
                <th mat-header-cell *matHeaderCellDef> LampPower (Watts)</th>
                <td mat-cell *matCellDef="let element">
                    <input matInput type="text">
                </td>
            </ng-container>

            <ng-container matColumnDef="StockofFixtures">
                <th mat-header-cell *matHeaderCellDef> StockofFixtures(Optional) </th>
                <td mat-cell *matCellDef="let element">
                    <input matInput type="text">
                </td>
            </ng-container>

            <ng-container matColumnDef="LumenOutput">
                <th mat-header-cell *matHeaderCellDef> LumenOutput(Optional) </th>
                <td mat-cell *matCellDef="let element;let i = dataIndex"
                    [style.background]="getenableyearofinstallation(6,41,i) ? 'gray' :'' ">
                    <input [disabled]="getenableyearofinstallation(6,41,i)" matInput type="text">
                </td>
            </ng-container>

            <ng-container matColumnDef="Averagedailyworkinghours">
                <th mat-header-cell *matHeaderCellDef> Averagedailyworkinghours </th>
                <td mat-cell *matCellDef="let element">
                    <input matInput type="text">
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row class="mat-row-class" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>



    </div>
</fieldset>