.calculator-tools-header .transformer-logo{
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
    padding: 20px
  }
  .calculator-tools-header .hero-logo .title-container h2 {
    color: #fab217;
    font-size: 48px;
    line-height: 58px;
    font-weight: 500;
    margin-bottom: unset;
    text-transform: uppercase;
    font-family: Gotham-Black;
  } 