<div _ngcontent-dam-c46="" class="calculator-tools-header">
    <div _ngcontent-dam-c46="" id="top-logo" class="container-fluid">
        <div _ngcontent-dam-c46="" class="transformer-logo row group-logo">
            <div _ngcontent-dam-c46="" class="img-container small-view">
                <img _ngcontent-dam-c46="" src="./assets/images/logo_copenhagen-centre.svg">
            </div>
            <div _ngcontent-dam-c46="" class="img-container small-view">
                <img _ngcontent-dam-c46="" src="./assets/images/logo_u4e2.svg">
            </div>
        </div>
    </div>
    <div _ngcontent-dam-c46="" class="container hero-logo">
        <div _ngcontent-dam-c46="" class="row row_inline">
            <div _ngcontent-dam-c46="" class="col-3 col-md-2 d-flex">
                <img _ngcontent-dam-c46="" src="./assets/images/logo_street-lighting.svg">
            </div>
            <div _ngcontent-dam-c46="" class="col-9 col-md-10 d-flex">
                <div _ngcontent-dam-c46="" class="title-container">
                    <h2 _ngcontent-dam-c46="">Transformers</h2>
                    <!-- <p _ngcontent-dam-c46="">st_desc</p> -->
                </div>
            </div>
        </div>
    </div>
</div>