  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid beet-container">
    <form [formGroup]="formgroup" class="form">
<h2>Lighting fixture details </h2>
<div class="fields-note">
    <p><span class="notes-style"> Note:</span> Please be ready with type, number, power rating (wattage) details of the lighting fixtures</p>
</div>

<button mat-raised-button color="primary">Click to enter Lighting details</button>
    </form>
</div> 