
.block,
li {
  padding: 1em;
  width:100%
}

.logos-list{
  display: flex;
  list-style: none;
}

@media (max-width: 499px) {
    .logos-list {
        //display: flex;
        list-style: none;
        flex-direction: column;
    }
}

.last-logo{
  right: 0;
    top: 0;
    width: 40%;
}


   