<!-- <div>
    <hr size="8" width="100%" color="black">
    <p>Lead By</p><p>In collabration with</p> <p > Funded By </p>
    <hr size="8" width="100%" color="black">
</div> -->


<ul class="logos-list">
    <li>Lead By<br>
        <img height="60" src="./assets/images/beetfooterlogos/beetfooter-1.png">
       
    </li>
    <li>In collabration with<br>
        <img height="40"  src="./assets/images/beetfooterlogos/beetfooter-2.png">
        <img height="40"  src="./assets/images/beetfooterlogos/beetfooter-3.png">
    </li>
    <li class="last-logo">Funded By<br>
        <img height="40" src="./assets/images/beetfooterlogos/beetfooter-4.png">
    </li>
  </ul>