<!-- <div>
    <hr size="8" width="100%" color="black">
    <p>Lead By</p><p>In collabration with</p> <p > Funded By </p>
    <hr size="8" width="100%" color="black">
</div> --> 


<ul class="logos-list">
    <li>In collabration with<br>
        <img height="50"  src="./assets/images/beetfooterlogos/beetfooter-2.png">
        <img height="50"  src="./assets/images/beetfooterlogos/beetfooter-3.png">
    </li>
    <li>Implemented by<br>
        <img  class="logo-AFD"  src="./assets/images/beetfooterlogos/beetfooter-1.png"> 
    </li>
    <li class="last-logo">Funded by<br>
        <img  src="./assets/images/beetfooterlogos/EUROCLIMA+_horizontal ES.png"> 
    </li>
  </ul>