<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
        <h3>R Value Window</h3>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<p>Select R Value from predefined types</p>


<div class="button-dialog" mat-dialog-actions>
    <button mat-raised-button color="primary" style="color: #fff;" class="mat-elevation-z6" type="submit" 
        cdkFocusInitial>Click to Return</button>
</div>