.footer-row1 {
    padding: 0 80px;
}



.footer-row2 {
    padding: 0 80px;
    //display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div {
        img {
            max-width: 120px;
        }
        p {
            text-align: left;
            padding-top: 10px;
            //font-size: 10px;
            line-height: 25px;
        }
    }
}

.footer-row2-section {
    box-shadow: inset 0 -30px 60px -30px rgb(0 0 0 / 30%);
    -moz-box-shadow: inset 0 -30px 60px -30px rgb(0 0 0 / 30%);
    -webkit-box-shadow: inset 0 -30px 60px -30px rgb(0 0 0 / 30%);
    padding-bottom: 20px;
        padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .footer-row2 {
        justify-content: center;
        div {
            max-width: 300px;
            p {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer-row1{
        padding:0 20px;
        text-align: center;

    }
}

.footer-text{
    font-size: 22px;
    line-height: 1.2em;
    //font-stretch:narrower;
    //font-family: Arial, Helvetica, sans-serif;
    //font-weight: lighter;
}

.footer-items{
    display: flex;
    align-items: center; 
     /* justify-items: center; */
}

.footer-text-two{
   color: #778899 ;
}