<footer>
    <div style="background-color: #06050A;color: #fff;">
        <div class="container-fluid footer-row1">
            <div class="row">
                <div class="col-md-7" style="display: flex; align-items: center; /* justify-items: center; */">
                    <p class="pt-4" style=" font-size: 20px;line-height: 1.2em;">
                        We provide research-based advisory services to assist developing countries deliver on
                        the Paris Agreement and
                        Sustainable Development Goals
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="assets/images/earth.png" style="max-width: 100%;height: auto;">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-row2-section">
        <div class="container">
            <div class="footer-row2">
                <div>
                    <p>
                        We are part of XXXX and work to implement UN Environment’s Climate Change Strategy and Energy
                        Programme
                    </p>
                </div>
                <div>
                    <img src="assets/images/home/down.png" style="width: 100%;height: auto;">
                </div>
            </div>
        </div>
    </div>
</footer>