.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  

  td.mat-cell,th.mat-header-cell{
    border-style: groove;
    text-align: center;
    padding-left: 24px !important;

}