<section class="calculator-tools">
    <div class="tools-header">
        <div class="top-logo container-fluid">
            <div class="row-logo">
                <img src="./assets/images/Logos/UNEP-partnershiplogo.png" width="150px" height="auto">
                <img src="./assets/images/logo_copenhagen-centre.svg" width="150px" height="auto">
            </div>
        </div>
        <div class="container-fluid" style="display: flex;padding-top: 10px;">
            <div class="row_inline">
                <div class="col-3 col-md-3 d-flex" style="align-items: center;">
                    <img src="/assets/images/tools/street.png" width="100%" height="auto">
                </div>
                <div class="col-9 col-md-9 d-flex">
                    <div class="title-container">
                        <h2 style="color: #fab217;">STREET LIGHTING</h2>
                        <p>Street Lighting Energy Efficiency Calculator</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>