.step-button {
    float: right;
    margin-top: 20px;
    margin-right: 0.5rem;
}

td.mat-cell,
th.mat-header-cell {
    border-style: double;
    //text-align: center;
    padding-left: 24px !important;
}

.mat-row {
    height: 30px !important;
}

table {
    width: 70%;
    margin-top: 1rem;
    background: transparent;
}

.form-head {
    text-align: left;
    font-style: oblique;
    margin-top: 2rem;
    padding-left: 1rem;
}

.buidling-logo {
    border-radius: 60%;
    margin-left: 3rem;
}

.stepper-class {
    background: transparent !important;
    padding-top: 2rem;
}

.UNEP-logo {
    width: 20%;
    padding: 0px 15px;
    float: right;
}

/* .calculator-tools {
    padding: 20px;
    background: #c5e9e7;
    background: linear-gradient( 221deg, rgba(0, 156, 147, .23), rgba(13, 97, 124, .23));
    background-image: linear-gradient( 221deg, rgba(0, 156, 147, 0.23), rgba(13, 97, 124, 0.23));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
} */

.calculator-tools {
    margin-top: 4rem;
}

::ng-deep .mat-step-text-label {
    text-overflow: unset !important;
    white-space: break-spaces !important;
}

@media only screen and (max-width: 600px) {
     ::ng-deep .mat-horizontal-stepper-header-container {
        display: none !important;
    }
}

::ng-deep .mat-raised-button.mat-button-disabled:not([class*=mat-elevation-z]) {
    background: #fff;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -2.0em;
    font-size: 15px;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-should-float {
    .mat-form-field-label {
        padding-bottom: -3rem;
        transform: none;
        width: initial;
        //opacity: 0;
    }
    .mat-form-field-outline-gap {
        border-top-color: initial !important;
    }
} 

::ng-deep .mat-form-field-label {
    padding-top: 7px;
    font-size: 0.8em!important;
}


::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-raised-button {
    line-height: 30px !important;
}

::ng-deep .mat-expansion-panel {
    margin-bottom: 20px !important;
    padding-top: 20px;
}

.mat-expansion-panel-header-title h2 {
    font-size: 16px !important;
} 



.field-button-calculate {
    display: flex;
    flex-wrap: wrap;
}

.accordion {
    background: transparent;
    color: #444;
    cursor: pointer;
    //padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
     ::before {
        content: "";
        background: url(https://c2e2.unepdtu.org/assets/angle-arrow-pointing-to-right.svg);
        width: 16px;
        height: 16px;
        display: inline-block;
        padding-right: 20px;
    }
    h1 {
        cursor: pointer;
        font-weight: 700;
        font-size: 1.5rem;
        color: #212529;
    }
}

.panel {
    padding: 0 18px;
    //background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

::ng-deep .mat-radio-label-content {
    white-space: break-spaces !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0px !important
}

 ::ng-deep .mat-form-field-appearance-fill .mat-form-field-fill {
    background-color: white;
    border-radius: 5px;
} 

.Assumptions-accordion{
    background: transparent;
}


.Calculated-tables{
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }


 /*   .custom-input{
    border:1px solid #01465f!important;
    border-radius : 5px;
    padding : 10px 15px 10px 15px !important;
    background-color: white;
  }

  ::ng-deep .mat-input-underline.mat-form-field-underline {
    background: transparent !important;
  }
 
  ::ng-deep  .mat-input-ripple.mat-form-field-ripple{
     background-color: transparent !important; 
  }
  
  ::ng-deep  .mat-form-field-appearance-outline .mat-form-field-underline {
    background-color: transparent !important;
  }

  ::ng-deep  .mat-form-field.mat-focused .mat-form-field-underline {
    display: none;
  }
  
  ::ng-deep  .custom-input::-webkit-input-placeholder {
      padding : 50px!important;
  }
} */

.social-links{
    display: flex;
    padding: 0;
}

.social-item{
    list-style: none;
    margin-right: 1.25rem;
}
.social-link-item{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    display: inline-block;
    text-indent: -9999px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 220ms ease-in-out;
} 

.social-twitter{
    background-image: url(../../../assets/images/icon-twitter-blue.svg);
}

.social-facebook{
    background-image: url(../../../assets/images/icon-facebook-blue.svg);
}

.social-linkedin{
    background-image: url(../../../assets/images/icon-linkedin-blue.svg);
}


.c-hero:not(.c-hero--small) {
    margin-top: -16px;
    min-height: 40vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-image:url(../../../assets/images/Hero-Building.jpg); 
    background-position: center ; 
}




.c-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 3rem;
}

.c-hero__headline {
    padding-left: 2em;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.375rem;
}

@media (min-width: 992px){
.c-hero__headline {
    //max-width: 62.5%;
    font-size: 36px;
    font-size: 2.25rem;
}
}

@media (min-width: 992px){
.c-hero__content {
    padding: 3.5rem 0 2rem;
}
}

.Home-text{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Disclaimer-text{
    background:none;
    //border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: x-small;
    //text-decoration: underline;
     font-style: italic;
     font-weight: bold;
}

.Disclaimer-text:hover {background: #eee;}


.field-group{
    display: flex;
    flex-direction: column;
  }

.field-title-beet{
    padding-left: 5px;
    font-weight: bold;
}

.field-align{
    display: flex;
}

@media (max-width: 600px){
    .field-align {
        flex-direction: column;

    }
    }

    .heading-style{
        font-weight: bold;
    }