.step-button {
    float: right;
    margin-top: 20px;
    margin-right: 0.5rem;
}

td.mat-cell,
th.mat-header-cell {
    border-style: groove;
    text-align: center;
    padding-left: 24px !important;
}

.mat-row {
    height: 30px !important;
}

table {
    width: 50%;
    margin-top: 1rem;
    background: transparent;
}

.form-head {
    text-align: left;
    font-style: oblique;
    margin-top: 2rem;
    padding-left: 1rem;
}

.buidling-logo {
    border-radius: 60%;
    margin-left: 3rem;
}

.stepper-class {
    background: transparent !important;
    padding-top: 2rem;
}

.UNEP-logo {
    width: 20%;
    padding: 0px 15px;
    float: right;
}


/* .calculator-tools {
    padding: 20px;
    background: #c5e9e7;
    background: linear-gradient( 221deg, rgba(0, 156, 147, .23), rgba(13, 97, 124, .23));
    background-image: linear-gradient( 221deg, rgba(0, 156, 147, 0.23), rgba(13, 97, 124, 0.23));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
} */

.calculator-tools {
    margin-top: 4rem;
}

::ng-deep .mat-step-text-label {
    text-overflow: unset !important;
    white-space: break-spaces !important;
}

@media only screen and (max-width: 600px) {
     ::ng-deep .mat-horizontal-stepper-header-container {
        display: none !important;
    }
}

::ng-deep .mat-raised-button.mat-button-disabled:not([class*=mat-elevation-z]) {
    background: #fff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-should-float {
    .mat-form-field-label {
        transform: none;
        width: initial;
        opacity: 0;
    }
    .mat-form-field-outline-gap {
        border-top-color: initial !important;
    }
}

::ng-deep .mat-form-field-label {
    font-size: 0.8em!important;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em;
}

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     transform: translateY(-1.1em) scale(.75);
//     width: 133.33333%;
// }
::ng-deep .mat-form-field-label {
    padding-top: 7px;
}

::ng-deep .mat-raised-button {
    line-height: 30px !important;
}

::ng-deep .mat-expansion-panel {
    margin-bottom: 20px !important;
    padding-top: 20px;
}

.mat-expansion-panel-header-title h2 {
    font-size: 16px !important;
}

.climate-button {
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 50px;
    line-height: 20px;
}

.field-button-calculate {
    display: flex;
    flex-wrap: wrap;
}

.accordion {
    background: transparent;
    color: #444;
    cursor: pointer;
    //padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
     ::before {
        content: "";
        background: url(https://c2e2.unepdtu.org/assets/angle-arrow-pointing-to-right.svg);
        width: 16px;
        height: 16px;
        display: inline-block;
        padding-right: 20px;
    }
    h1 {
        cursor: pointer;
        font-weight: 700;
        font-size: 1.5rem;
        color: #212529;
    }
}

.panel {
    padding: 0 18px;
    //background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

::ng-deep .mat-radio-label-content {
    white-space: break-spaces !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0px !important
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}