.step-button{
    float: right;
    margin-top: 20px;
    margin-right: 5rem;
}

/* .calculator-tool5{
    background-color: lightgoldenrodyellow;
}
 */

 td.mat-cell,th.mat-header-cell{
    border-style: groove;
    text-align: center;
    padding-left: 24px !important;

}

.mat-row {
    height: 30px !important;
  }

  table{
      width: 75%;
      margin-top: 1rem;
  }