<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid beet-container">
    <form [formGroup]="formGroup" class="form">

        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel expanded='true'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Location Details</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <p>Please select and share building location details
                    </p>

                    <div class="fields-note">
                        <p><span class="notes-style"> Note:</span> It is important to select Provice first and then
                            Location before clicking and loading the climate data. If exact location is not available,
                            please select the nearest / most suitable location
                            (or) reach out to us.
                        </p>
                    </div>

                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput formControlName="UserName" required>
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Project name</mat-label>
                        <input matInput formControlName="ProjectName" required>
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Select country</mat-label>
                        <mat-select matNativeControl id="Country" formControlName="Country">
                            <mat-option *ngFor="let con of countrylist" [value]="con">{{con}}</mat-option>
                        </mat-select>
                        <!-- <mat-hint color="primary">Select country</mat-hint> -->
                    </mat-form-field>


                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Select Province</mat-label>
                        <mat-select matNativeControl id="Province" formControlName="Province">
                            <mat-option *ngFor="let pro of provincelist" [value]="pro">{{pro}}</mat-option>
                        </mat-select>
                        <!-- <mat-hint color="primary">Select Province</mat-hint> -->
                    </mat-form-field>


                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Select Location</mat-label>
                        <mat-select matNativeControl id="Location" formControlName="Location">
                            <mat-option *ngFor="let loc of locationlist" [value]="loc">{{loc}}</mat-option>
                        </mat-select>
                        <!-- <mat-hint color="primary">Select Location</mat-hint> -->
                    </mat-form-field>

                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel style="padding-top: 20px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Type of building</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <p>Please select the main building type.
                    </p>
                    <div class="fields-note">
                        <p><span class="notes-style"> Note:</span> Please first select the building type from drop down
                            list and then click the button to select building spaces. If your building type is not
                            available in the list, please select the most representative
                            building type.
                        </p>
                    </div>


                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Select Building Type</mat-label>
                        <mat-select matNativeControl id="Buidling" formControlName="Buildingtype">
                            <mat-option *ngFor="let buildtype of buildingTypeList" [value]="buildtype">{{buildtype}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-hint color="primary">Select Building Type</mat-hint> -->
                    </mat-form-field>


                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Select Building Spaces</mat-label>
                        <mat-select matNativeControl id="BuidlingSpaces" formControlName="Categories" multiple>
                            <mat-option *ngFor="let space of spacesList" [value]="space">{{space}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-hint color="primary">Select Building Spaces</mat-hint> -->
                    </mat-form-field>

                    <!--   <div class="container-fluid" style="margin-top: 20px;">
                        <mat-label><b>Building Categories/Spaces : </b></mat-label>
                        <li *ngFor="let item of selecteditems">
                            {{item}}
                        </li>
                    </div> -->

                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel style="padding-top: 20px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Building age, area, no. of floors, occupancy hours</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <div class="fields-note">
                        <p><span class="notes-style"> Note:</span> You may select the units in which you may want to
                            enter the building area value using drop down button.
                        </p>
                    </div>

                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Year of construction</mat-label>
                        <input matInput formControlName="Yearofconstruction" required>
                        <!-- <mat-hint color="primary">Please enter year of construction</mat-hint> -->
                    </mat-form-field>

                    <span class="units-picker-component">
                        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                            <mat-label>Building gross area(Optional)</mat-label>
                            <input formControlName="Buildinggrossarea" matInput>
                            <mat-select [(value)]="units" placeholder="units" formControlName="grossunits">
                                <mat-option value="squarefeet">squarefeet</mat-option>
                                <mat-option value="squaremeter">squaremeter</mat-option>
                            </mat-select>
                            <!-- <mat-hint color="primary">Please enter building gross area(Optional)</mat-hint> -->
                        </mat-form-field>
                    </span>

                    <span class="units-picker-component">
                        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                            <mat-label>Net occupied floor area</mat-label>
                            <input formControlName="Netoccupiedfloorarea" matInput>
                            <mat-select [(value)]="units" placeholder="units" formControlName="netunits">
                                <mat-option value="squarefeet">squarefeet</mat-option>
                                <mat-option value="squaremeter">squaremeter</mat-option>
                            </mat-select>
                            <!-- <mat-hint color="primary">Please enter Net occupied floor area</mat-hint> -->
                        </mat-form-field>
                    </span>

                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>No. of floors</mat-label>
                        <input formControlName="Nooffloors" matInput required>
                        <!-- <mat-hint color="primary">Please enter No. of floors</mat-hint> -->
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Occupancy hours per week</mat-label>
                        <input formControlName="Occupanyhoursperweek" matInput required>
                        <!-- <mat-hint color="primary">Please Occupancy hours per week</mat-hint> -->
                    </mat-form-field>

                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel style="padding-top: 20px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Occupancy - People </h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <p>Please share occupancy details for the building.
                    </p>

                    <div class="fields-note">
                        <p><span class="notes-style"> Note:</span> Select from following options. For option C, standard
                            values will be considered based on the building categories and spaces selected. More details
                            on this is given in the Assumptions section.
                        </p>
                    </div>
                    <div>
                        <mat-radio-group aria-label="Select an option" formControlName="occupancy">
                            <mat-radio-button (click)=showOccupancy(true) value="1">I only know the number of people
                                occupying the building during normal working hours</mat-radio-button><br>
                            <mat-radio-button (click)=showOccupantDensity(true) value="2"> I know the occupant density
                                of the building (m2/person or ft2/person)
                            </mat-radio-button><br>
                            <mat-radio-button (click)=showOccupancy(false) value="3">I do not know the value
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <span *ngIf="hasOccupancy">
                        <p style="margin-top: 1em;">I know the number of people occupying the building during normal
                            working hours.</p>
                        <p>Number of people occupying the building </p>
                        <mat-form-field appearance="outline">
                            <mat-label>Enter value here</mat-label>
                            <input matInput placeholder="Enter value" formControlName="noOfPeopleOccupying">
                        </mat-form-field>
                    </span>
                    <!--  <div>
                        <b>Occupant density (square meter per person):{{occupancyValue}}</b>
                    </div> -->
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion [togglePosition]="'before'">
            <mat-expansion-panel style="padding-top: 20px;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2>Energy and Fuel cost</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="container">
                    <p>Please enter energy and fuel details associated with the building.
                    </p>
                    <div class="fields-note">
                        <p><span class="notes-style"> Note:</span> Fuel considered as Natural Gas. If any other forms of
                            fuel is being used, please reach out to us.
                        </p>
                    </div>

                    <mat-form-field class="w-100 mt-1 col-md-4" appearance="outline">
                        <mat-label>Select Electricity cost units</mat-label>
                        <mat-select formControlName="units">
                            <mat-option *ngFor="let unit of unitslist" [value]="unit">{{unit}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-1 col-md-4" appearance="outline">
                        <mat-label>Enter value here</mat-label>
                        <input matInput formControlName="Electricitycost" placeholder="Enter value" required>
                    </mat-form-field>

                    <!-- <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Electricity cost</mat-label>
                        <input matInput required>
                    </mat-form-field> -->

                    <mat-form-field class="w-100 mt-1 col-md-4" appearance="outline">
                        <mat-label>Select Fuel cost units</mat-label>
                        <mat-select formControlName="fuelunits">
                            <mat-option *ngFor="let units of fuelunitslist" [value]="units">{{units}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100 mt-1 col-md-4" appearance="outline">
                        <mat-label>Enter value here</mat-label>
                        <input matInput formControlName="Fuelcost" placeholder="Enter value" required>
                    </mat-form-field>

                    <!-- <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Fuel cost</mat-label>
                        <input matInput required>
                    </mat-form-field> -->

                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>