::ng-deep .mat-expansion-panel {
    margin-bottom: 20px !important;
    padding-top: 20px;
}

.climate-button{
    margin-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 50px;
    line-height: 20px;
}
