<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
        <h3 mat-dialog-title>{{data.title}}</h3>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div mat-dialog-content>
    <mat-list-item>
     <section class="example-section" *ngFor="let item of textboxitems">
        <mat-checkbox class="checkbox" [checked]="item.selected" (change)="onChange($event,item)" [value]="item">{{item}}</mat-checkbox>
    </section> 
</mat-list-item>

    <div class="button-dialog" mat-dialog-actions>
        <button mat-raised-button color="primary" style="color: #fff;" type="button" [mat-dialog-close]="textboxitems"
            (click)="onNoClick()">Return</button>
    </div>

</div>


