.mat-elevation-z8 {
    width: 100%;
    margin: 0px !important;
}

table {
    margin-top: 1em;
    width: 100%;
    border: 1px solid #040404;
}

table td,
table th {
    border: 1px solid rgb(3, 3, 3);
    padding: 8px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.mat-column-actions {
    text-align: center;
}

td.mat-cell {
    min-width: 10%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    padding: 6px;
}

.finaltable tr:last-child {
    background: rgb(185, 184, 184) !important;
}

table {
    background: inherit;
}

.calculator-tools-header .transformer-logo {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
    padding: 20px
}