<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
        <h3 mat-dialog-title>Transformer Details</h3>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div>
<p>*1 Rated Power IEC 60076-1<br>
    *2 Energy is not a mandatory field to calculate an equivalent efficient solution<br>
    *3 In the case of not knowing current thersholds in the local/national market, please assume same price as of the existing transformer</p>

</div>



<div mat-dialog-content>

    <form [formGroup]="DialogTransformerInputs" novalidate (submit)="addToTable()">

        <div *ngIf="errMessage" class="alert alert-danger">
            <strong>
                {{errMessage}}
            </strong>
        </div>

        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
            <mat-label>Power(kVA)</mat-label>
            <input type="number" class="pro-name" matInput placeholder="Enter Power(kVA)" formControlName="Power" required>
            <mat-error *ngIf="DialogTransformerInputs.controls['Power'].hasError('required')">
                Power is required
            </mat-error>
            <mat-error *ngIf="DialogTransformerInputs.controls['Power'].hasError('max')">
                Power exceeded maximun value
            </mat-error>

        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
            <mat-label>Stock(No)</mat-label>
            <input type="number" class="pro-name" matInput placeholder="Enter Stock(No)" formControlName="Stock" required>

            <mat-error *ngIf="DialogTransformerInputs.controls['Stock'].hasError('required')">
                stock is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
            <mat-label>PlateEfficiency(%)</mat-label>
            <input type="number" class="pro-name" matInput placeholder="Enter PlateEfficiency(%)" formControlName="PlateEfficiency" required>
            <!-- <mat-hint color="primary">Provide PlateEfficiency</mat-hint> -->
            <mat-error *ngIf="DialogTransformerInputs.controls['PlateEfficiency'].hasError('required')">
                PlateEfficiency is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
            <mat-label>Energy(MWh/yr)</mat-label>
            <input type="number" class="pro-name" matInput placeholder="Enter Energy(MWh/yr)" formControlName="Energy" required>
            <!-- <mat-hint color="primary">Provide PlateEfficiency</mat-hint> -->
            <mat-error *ngIf="DialogTransformerInputs.controls['Energy'].hasError('required')">
                Energy is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
            <mat-label>EnergyPrice(USD/MWh)</mat-label>
            <input type="number" class="pro-name" matInput placeholder="Enter EnergyPrice(USD/MWh)" formControlName="EnergyPrice" required>
            <!-- <mat-hint color="primary">Provide PlateEfficiency</mat-hint> -->
            <mat-error *ngIf="DialogTransformerInputs.controls['EnergyPrice'].hasError('required')">
                EnergyPrice is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
            <mat-label>PolicyLevel(Level)</mat-label>
            <mat-select matNativeControl id="PolicyLevel" formControlName="PolicyLevel">
                <mat-option *ngFor="let policy of policyLevels" [value]="policy">{{policy}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
            <mat-label>FireRegulation</mat-label>
            <mat-select matNativeControl id="FireRegulation" formControlName="FireRegulation">
                <mat-option *ngFor="let Regulation of FireRegulation" [value]="Regulation">{{Regulation}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
            <mat-label>HighestVoltageValues</mat-label>
            <mat-select matNativeControl id="HighestVoltageValues" formControlName="HighestVoltageValues">
                <mat-option *ngFor="let voltage of data.highestVoltageValueslist" [value]="voltage">{{voltage}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
            <mat-label>DualVoltWindings</mat-label>
            <mat-select matNativeControl id="DualVoltWindings" formControlName="DualVoltWindings">
                <mat-option *ngFor="let voltwindings of data.dualVoltWindings" [value]="voltwindings">{{voltwindings}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 mt-4 col-md-6" appearance="outline">
            <mat-label>Capex(USD/unit)</mat-label>
            <input type="number" class="pro-name" matInput placeholder="Enter Capex(USD/unit)" formControlName="Capex" required>
            <!-- <mat-hint color="primary">Provide Capex</mat-hint> -->
            <mat-error *ngIf="DialogTransformerInputs.controls['Capex'].hasError('required')">
                Capex is required
            </mat-error>
        </mat-form-field>



        <div class="button-dialog" mat-dialog-actions>
            <button mat-raised-button color="accent" style="color: #fff;" class="mat-elevation-z6" type="button" (click)="onNoClick()">Cancel</button>
            <button mat-raised-button color="primary" style="color: #fff;" class="mat-elevation-z6" type="submit" cdkFocusInitial>{{data.action}}</button>
        </div>

    </form>
</div>