.justify-content-between {
    justify-content: space-between;
}

.mat-radio-group-image {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  td.mat-cell,th.mat-header-cell{
    border-style: groove;
    text-align: center;
    padding-left: 24px !important;
}