.justify-content-between {
    justify-content: space-between;
}

.mat-radio-group-image {
    .mat-radio-button {
        max-width: 300px;
        img {
            width: 100%;
            height: auto;
        }
        p {
            font-weight: 600;
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
        }
    }
}

td.mat-cell,
th.mat-header-cell {
    border-style: groove;
    text-align: center;
    padding-left: 24px !important;
}

.images-wwr {
    display: flex;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.mat-row:nth-child(even){
    background-color: whitesmoke;
}
        
.mat-row:nth-child(odd){
    background-color: white;
}

.mat-column-Layer{
    text-align: center;
  }