<div class="container-fluid beet-container">
    <form [formGroup]="formgroup" class="form mt-4">

        <fieldset>
            <legend>>R Value (Thermal resistance) - Outer Wall</legend>
            <h2>2.1 R Value (Thermal resistance) - Outer Wall </h2>
            <p class="question-text">Do you know the R value?</p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> You may select any of the options to provide details on R
                    value of the wall.</p>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="outerwallr"
                (change)="onChangeOuterWallROption($event)">
                A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                B. <mat-radio-button value="2"> I want to select from predefined types (pictures available for
                    reference)
                </mat-radio-button><br>
                C. <mat-radio-button value="3"> Calculate the R value by adding custom layers from prelisted
                    materials(Advanced level)</mat-radio-button>
            </mat-radio-group><br><br>
            <div formArrayName="outerWallArray" *ngIf="formgroup.controls.outerwallr.value !== ''">
                <div *ngFor="let item of  formgroup.get('outerWallArray')['controls'];let i = index;">
                    <div [formGroupName]="i">
                        <!-- Outerwall R known -->
                        <span *ngIf="formgroup.controls.outerwallr.value == 1" class="units-picker-component">
                            <p class="fields-note">Enter the value in the cell and select the units from the drop down
                                list.</p>
                            <b style="margin-top: 1em;">Outer Wall R value : </b>
                            <mat-form-field class="w-100 mt-2 col-md-4" appearance="outline">
                                <!-- <mat-label>Enter value here</mat-label> -->
                                <input matInput placeholder="Enter R value" type="number"
                                    formControlName="outerwallRKnown" type="number">
                                <mat-select placeholder="units" formControlName="outerwallrUnits">
                                    <mat-option value="m².°C/W">m<sup>2</sup>.°C/W</mat-option>
                                    <mat-option value="ft².°F.h/BTU">ft<sup>2</sup>.°F.h/BTU</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>

                        <!-- Outerwall R Images -->
                        <div *ngIf="formgroup.controls.outerwallr.value == 2" class="container-fluid">
                            <p>Select most representative picture composition of your building outer wall.</p>
                            <div class="row">

                                <mat-radio-group class="mat-radio-group-image" formControlName="rimages">
                                    <mat-radio-button *ngFor="let con of outerRData" [value]=con>
                                        <img src="{{con.imagepath}}">
                                        <p>R Value = {{con.rvalue | number:'1.2-2'}} {{con.units}}</p>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <!-- Outerwall R Advanced -->
                        <div *ngIf="formgroup.controls.outerwallr.value == 3">
                            <!-- <h3> See below example table fro reference. Details to be filled in Table 1</h3> -->
                            <p>Step1: Select the layer number from the dropdown list.</p>
                            <p>Step2: Select material type from dropdown list and proceed with the tool.</p>
                            <p>Step4: Return to insert the custom R value.</p>
                            <br>
                            <div>
                                <div>
                                    <b style="margin-top: 20px;padding-left: 2rem">Layer Number : </b>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Please select layer number</mat-label>
                                        <mat-select [(value)]="selectedLayerValue">
                                            <mat-option *ngFor="let layer of layersList" [value]="layer">{{layer}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <b style="margin-top: 20px;padding-left: 2rem;">Capa del elemento constructivo :
                                    </b>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select</mat-label>
                                        <mat-select [(value)]="selectedCapa" #sel
                                            (selectionChange)="onOptionsSelected($event)">
                                            <mat-option *ngFor="let element of elementsList" [value]="element">
                                                {{element}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <table style="margin-bottom: 20px;" mat-table matSort matTableResponsive
                                    [dataSource]="dataSource" class="table-advancedR">
                                    <ng-container matColumnDef="Layer">
                                        <th mat-header-cell *matHeaderCellDef> Layer</th>
                                        <td mat-cell *matCellDef="let example"> {{example.Layer}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Capadelelementoconstructivo">
                                        <th mat-header-cell *matHeaderCellDef> Capa del elemento constructivo </th>
                                        <td mat-cell *matCellDef="let example"> {{example.Capadelelementoconstructivo}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Espesordecadacapa">
                                        <th mat-header-cell *matHeaderCellDef> Espesor de cada capa(e) in m </th>
                                        <td mat-cell *matCellDef="let example"> {{example.Espesordecadacapa}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Resistenciatermica">
                                        <th mat-header-cell *matHeaderCellDef> Resistencia termica (R) in sqm.K/W </th>
                                        <td mat-cell *matCellDef="let example"> {{example.Resistenciatermica |
                                            number:'1.2-2'}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                            </div>
                        </div>


                        <div>
                            <b *ngIf="formgroup.controls.outerwallr.value == 1">R Value :
                                {{formgroup.get('outerWallArray')['controls'][0].controls.outerwallRKnown.value}}
                                {{formgroup.get('outerWallArray')['controls'][0].controls.outerwallrUnits.value}}</b>
                            <b *ngIf="formgroup.controls.outerwallr.value == 2">R Value :
                                {{formgroup.get('outerWallArray')['controls'][0].controls.rimages.value.rvalue |
                                number:'1.2-2'}}
                                {{formgroup.get('outerWallArray')['controls'][0].controls.rimages.value.units}}</b>
                            <b *ngIf="formgroup.controls.outerwallr.value == 3">R Value :
                                {{formgroup.get('outerWallArray')['controls'][0].controls.rValueAdvanced.value |
                                number:'1.2-2'}}
                                {{formgroup.get('outerWallArray')['controls'][0].controls.outerwallrUnits.value}}
                            </b>
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>R Value (Thermal resistance) - Roof </legend>
            <h2>2.2 R Value (Thermal resistance) - Roof </h2>
            <p class="question-text">Do you know the R value?</p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> You may select any of the options to provide details on R
                    value of the roof.</p>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="roofr"
                (change)="onChangeroofrOption($event)">
                A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                B. <mat-radio-button value="2"> I want to select from predefined types (pictures available for
                    reference)
                </mat-radio-button><br>
                C. <mat-radio-button value="3">Calculate the R value by adding custom layers from prelisted materials
                    (Advanced level)</mat-radio-button>
            </mat-radio-group><br><br>

            <div formArrayName="roofrArray" *ngIf="formgroup.controls.roofr.value !== ''">
                <div *ngFor="let item of  formgroup.get('roofrArray')['controls'];let i = index;">
                    <div [formGroupName]="i">
                        <!-- Roof R known -->
                        <span *ngIf="formgroup.controls.roofr.value == 1" class="units-picker-component">
                            <p class="fields-note">Enter the value in the cell and select the units from the drop down
                                list.</p>
                            <b style="margin-top: 1em;">Roof R value : </b>
                            <mat-form-field class="w-100 mt-2 col-md-4" appearance="outline">
                                <input matInput placeholder="Enter R value" type="number" formControlName="roofRKnown"
                                    type="number">
                                <mat-select placeholder="units" formControlName="roofrUnits">
                                    <mat-option value="m².°C/W">m<sup>2</sup>.°C/W</mat-option>
                                    <mat-option value="ft².°F.h/BTU">ft<sup>2</sup>.°F.h/BTU</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>

                        <!-- Roof R images -->
                        <div *ngIf="formgroup.controls.roofr.value == 2" class="container-fluid">
                            <p>Select most representative picture composition of your building outer wall.</p>

                            <div class="row">
                                <mat-radio-group class="mat-radio-group-image" formControlName="roofrimages">
                                    <mat-radio-button *ngFor="let con of roofRData" [value]="con">
                                        <img src="{{con.imagepath}}">
                                        <p>R Value = {{con.rvalue| number:'1.2-2'}} {{con.units}}</p>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <!-- Roof R Advanced -->
                        <div *ngIf="formgroup.controls.roofr.value == 3">

                            <p>Step1: Select the layer number from the dropdown list.</p>
                            <p>Step2: Select material from dropdown list.</p>
                            <p>Step3: Proceed with the tool. </p>
                            <p>Step4: Insert the custom R value.</p>
                            <br>
                            <div>
                                <div>
                                    <b style="margin-top: 20px;padding-left: 2rem">Layer Number : </b>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Please select layer number </mat-label>
                                        <mat-select [(value)]="selectedRoofLayerValue">
                                            <mat-option *ngFor="let layer of layersList" [value]="layer">{{layer}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <b style="margin-top: 20px;padding-left: 2rem;">Capa del elemento constructivo :
                                    </b>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Select</mat-label>
                                        <mat-select [(value)]="selectedMaterial" #sel
                                            (selectionChange)="onOptionsSelectedroof($event)">
                                            <mat-option *ngFor="let element of elementsList" [value]="element">
                                                {{element}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <table mat-table matSort matTableResponsive [dataSource]="roofdataSource"
                                    class="mat-elevation-z8 table-advancedR">
                                    <ng-container matColumnDef="Layer">
                                        <th mat-header-cell *matHeaderCellDef> Layer</th>
                                        <td mat-cell *matCellDef="let example"> {{example.Layer}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Capadelelementoconstructivo">
                                        <th mat-header-cell *matHeaderCellDef> Capa del elemento constructivo </th>
                                        <td mat-cell *matCellDef="let example"> {{example.Capadelelementoconstructivo}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Espesordecadacapa">
                                        <th mat-header-cell *matHeaderCellDef> Espesor de cada capa(e) in m </th>
                                        <td mat-cell *matCellDef="let example"> {{example.Espesordecadacapa}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Resistenciatermica">
                                        <th mat-header-cell *matHeaderCellDef> Resistencia termica (R) in sqm.K/W </th>
                                        <td mat-cell *matCellDef="let example"> {{example.Resistenciatermica|
                                            number:'1.2-2'}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div><br>

                        <div>
                            <b *ngIf="formgroup.controls.roofr.value == 1">R Value :
                                {{formgroup.get('roofrArray')['controls'][0].controls.roofRKnown.value}}
                                {{formgroup.get('roofrArray')['controls'][0].controls.roofrUnits.value}}</b>
                            <b *ngIf="formgroup.controls.roofr.value == 2">R Value :
                                {{formgroup.get('roofrArray')['controls'][0].controls.roofrimages.value.rvalue|
                                number:'1.2-2'}}
                                {{formgroup.get('roofrArray')['controls'][0].controls.roofrimages.value.units}}</b>
                            <b *ngIf="formgroup.controls.roofr.value == 3">R Value :
                                {{formgroup.get('roofrArray')['controls'][0].controls.rroofValueAdvanced.value |
                                number:'1.2-2'}}
                                {{formgroup.get('roofrArray')['controls'][0].controls.roofrUnits.value}}

                            </b>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- R Value (Thermal resistance) - window-->

        <fieldset>
            <legend>R Value (Thermal resistance) - Window</legend>
            <h2>2.3 R Value (Thermal resistance) - Window</h2>

            <p class="question-text">Do you know the R value?</p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> You may select any of the options to provide details on
                    R value of the window.</p>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="windowr"
                (change)="onChangewindowrOption($event)">
                A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                B. <mat-radio-button (click)="onWindowNoOption($event)" value="2"> I want to select from predefined types (list available)
                </mat-radio-button>
            </mat-radio-group><br><br>

            <!-- Window R known -->
            <div formArrayName="windowrArray" *ngIf="formgroup.controls.windowr.value !== ''">
                <div *ngFor="let item of  formgroup.get('windowrArray')['controls'];let i = index;">
                    <div [formGroupName]="i">
                        <span *ngIf="formgroup.controls.windowr.value == 1" class="units-picker-component">
                            <p class="fields-note">Enter the value in the cell and select the units from the drop down
                                list.</p>
                            <b style="margin-top: 1em;">Window R value : </b>
                            <mat-form-field class="w-100 mt-2 col-md-4" appearance="outline">
                                <input matInput placeholder="Enter R value" formControlName="windowRKnown"
                                    type="number">
                                <mat-select placeholder="units" formControlName="windowrUnits">
                                    <mat-option value="m².K/W">m².K/W</mat-option>
                                    <mat-option value="ft².°F.h/BTU">ft².°F/BTU</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <b *ngIf="formgroup.controls.windowr.value == 1">R Value :
                    {{formgroup.get('windowrArray')['controls'][0].controls.windowRKnown.value}}
                    {{formgroup.get('windowrArray')['controls'][0].controls.windowrUnits.value}}</b>
                <b *ngIf="formgroup.controls.windowr.value == 2">R Value :
                    {{formgroup.get('windowrArray')['controls'][0].controls.windowRCaluclated.value| number:'1.2-2'}}
                    {{formgroup.get('windowrArray')['controls'][0].controls.windowRCaluclatedUnits.value}}
                </b>
            </div>

        </fieldset>


        <!-- SHGC window -->
        <fieldset>
            <legend>Solar Heat Gain Coefficient (SHGC) - Window </legend>
            <h2>2.4 Solar Heat Gain Coefficient (SHGC) - Window </h2>

            <p class="question-text">Do you know the SHGC value?</p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> You may select any of the options to provide details on SHGC
                    value of the window</p>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="SHGC">
                A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                B. <mat-radio-button (click)="postCalculateshgc()" value="2"> No, I don't know.</mat-radio-button>
            </mat-radio-group>

            <span *ngIf="formgroup.controls.SHGC.value == 1">
                <div style="display: flex;">
                    <p style="margin-top: 1rem;">Please enter the SHGC value:</p>
                    <mat-form-field appearance="outline">
                        <input matInput required formControlName="SHGCknown" placeholder="Enter SHGC value">
                    </mat-form-field>
                </div>
            </span><br>

            <b>SHGC:{{formgroup.controls.SHGCknown.value}}</b>
        </fieldset>

        <!-- WWR -->
        <fieldset>
            <legend>
                <h2>Window to Wall Ratio (WWR)</h2>
            </legend>
            <h2>2.5 Window to Wall Ratio (WWR)</h2>
            <p class="question-text">Do you know the Window to Wall Ratio</p>
            <div class="fields-note">
                <p> <span class="notes-style"> Note:</span> You may select any of the options to provide details on WWR
                    value of the window</p>
            </div>
            <mat-radio-group aria-label="Select an option" formControlName="wwr" (change)="onChangeWWROption($event)">
                A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                B. <mat-radio-button value="2"> No, I don't know. Guide me to enter the value.</mat-radio-button>
            </mat-radio-group>

            <div formArrayName="wwrArray" *ngIf="formgroup.controls.wwr.value !== ''">
                <div *ngFor="let item of  formgroup.get('wwrArray')['controls'];let i = index;">
                    <div [formGroupName]="i">
                        <!-- wwr known -->
                        <span *ngIf="formgroup.controls.wwr.value == 1">
                            <div style="display: flex;">
                                <p style="margin-top: 1rem;">Please enter the WWR value:
                                </p>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter WWR value" type="number"
                                        formControlName="wwrKnown" required>
                                </mat-form-field>
                            </div>
                        </span>


                        <!-- wwr Guide -->
                        <span *ngIf="formgroup.controls.wwr.value == 2">

                            <div>
                                <p style="margin-top: 1rem;">Please enter the WWR value in(%) by refering to pictures:
                                </p>
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="Enter value" type="number" formControlName="wwrGuide"
                                        required>
                                </mat-form-field><br>
                                <div class="images-wwr">
                                    <img height="100" src="/assets/images/wwr/wwr1.jpg">
                                    <img height="100" style="padding-left: 20px" src="/assets/images/wwr/wwr2.jpeg">
                                </div>

                            </div><br>
                        </span>


                        <div>
                            <b *ngIf="formgroup.controls.wwr.value == 1" class="calculated-values">
                                WWR : {{formgroup.get('wwrArray')['controls'][0].controls.wwrKnown.value}}
                            </b>
                            <b *ngIf="formgroup.controls.wwr.value == 2" class="calculated-values">
                                WWR : {{formgroup.get('wwrArray')['controls'][0].controls.wwrGuide.value}}

                            </b>
                        </div>

                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>