<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid beet-container">
    <form [formGroup]="formgroup" class="form">

        <fieldset>
            <legend>Plug loads (equipment/appliances inside occupied conditioned area)</legend>
            <h2>Plug loads (equipment/appliances inside occupied conditioned area) </h2>

            <div >
                <p class="question-text">Do you know the plug load density for your building ?</p>
                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span>You may select any of the options. Option C available for
                        selected cases only.
                    </p>
                </div>
                <mat-radio-group aria-label="Select an option" formControlName="plugloads"
                    (change)="onChangePlugLoadOption($event)">
                    A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                    B. <mat-radio-button value="2">No, I don't know. Guide me to calculate.</mat-radio-button><br>
                    C. <mat-radio-button value="3">I will select from already available values</mat-radio-button>
                </mat-radio-group><br><br>

                <div *ngIf="formgroup.controls.plugloads.value !== ''">
                    <div>
                        <div>
                            <!-- Plugload value known -->
                            <span *ngIf="formgroup.controls.plugloads.value == 1" class="units-picker-component">
                                <p class="fields-note">Enter the value in the cell and select the units from the drop down list.</p>
                                <b style="margin-top: 1em;">Plug load density:</b>
                                <mat-form-field class="w-100 mt-2 col-md-5" appearance="outline">
                                    <input matInput placeholder="Enter plug load density value" formControlName="plugLoadValueKnown"
                                        type="number">
                                    <mat-select placeholder="units" formControlName="plugLoadUnits">
                                        <mat-option value="watts per square meter">watts per square meter</mat-option>
                                        <mat-option value="watts per square foot">watts per square foot</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </span>

                            <!-- plugload guide to calculate -->
                            <span *ngIf="formgroup.controls.plugloads.value == 2"
                                class="container-fluid beet-container">
                                <div class="fields-note">
                                    <p><span class="notes-style"> Note:</span> Plug load refer to energy used by
                                        equipment that is plugged into an outlet. For example, in an office, key plug
                                        loads include computer and
                                        monitors, printers, and copiers. Equipment/Appliances include other connected
                                        load such as the prefilled examples in the table. Do not include major lighting
                                        fixture details that have already been entered in the lighting section.
                                        Table lamps, plugged task lightings, etc. which were not covered in the lighting
                                        section may be entered here. Do not include large HVAC system components here.
                                    </p>
                                </div>
                                <div class="example-table-container" formArrayName=plugLoadArray>
                                    <table *ngIf="formgroup.controls.plugloads.value == 2" class="table">
                                        <thead>
                                            <tr>
                                                <th>Space</th>
                                                <th>Plug Load Appliances</th>
                                                <th>Year of Installation</th>
                                                <th>Avg Power Watts</th>
                                                <th>Stock</th>
                                                <th>Avg Operating Hrs</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let plugload of  formgroup.controls.plugLoadArray.controls; let i=index"
                                                [formGroupName]="i">

                                                <td>
                                                    <div class="form-group" style="width: 250px;">
                                                        <input type="text"  class="form-control" formControlName="space">
                                                        <small class="text-danger pl-1"
                                                            *ngIf="formgroup.controls.plugLoadArray.controls[i].controls.space.hasError('required') && submitted">
                                                            space is required
                                                        </small>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group" style="width: 250px;">
                                                        <input type="text" class="form-control"
                                                            formControlName="plugloadappliance">
                                                        <small class="text-danger pl-1"
                                                            *ngIf="formgroup.controls.plugLoadArray.controls[i].controls.plugloadappliance.hasError('required') && submitted">
                                                            plug load appliance is required
                                                        </small>
                                                    </div>
                                                </td>
                                                 <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            formControlName="yearofinstallation">
                                                        <small class="text-danger pl-1"
                                                            *ngIf="formgroup.controls.plugLoadArray.controls[i].controls.yearofinstallation.hasError('required') && submitted">
                                                            year is required
                                                        </small>
                                                    </div>
                                                </td> 
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            formControlName="avgpowerwatts">
                                                        <small class="text-danger pl-1"
                                                            *ngIf="formgroup.controls.plugLoadArray.controls[i].controls.avgpowerwatts.hasError('required') && submitted">
                                                            Avg Power is required
                                                        </small>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" formControlName="stock">
                                                        <small class="text-danger pl-1"
                                                            *ngIf="formgroup.controls.plugLoadArray.controls[i].controls.stock.hasError('required') && submitted">
                                                            Stock is required
                                                        </small>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                            formControlName="avgoperatinghrs">
                                                        <small class="text-danger pl-1"
                                                            *ngIf="formgroup.controls.plugLoadArray.controls[i].controls.avgoperatinghrs.hasError('required') && submitted">
                                                            Avg Operating Hrs are required
                                                        </small>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 
                        <table formArrayName="plugLoadItems" *ngIf="formgroup.controls.plugloads.value == 2" mat-table [dataSource]="optbDataSource" class="mat-elevation-z8" multiTemplateDataRows>
                            <ng-container matColumnDef="space">
                                <th mat-header-cell *matHeaderCellDef> Space</th>
                                <td mat-cell *matCellDef="let element; let rowIndex = index" [formGroupName]="rowIndex">
                                    <ng-container *ngIf="element.space !='' ">
                                        {{element.space}}
                                    </ng-container>
                                    <ng-container *ngIf="element.space ==''">
                                        <input matInput type="text" formControlName="space">
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="plugloadappliance">
                                <th mat-header-cell *matHeaderCellDef> plugloadappliance</th>
                                <td mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
                                    <ng-container *ngIf="element.plugloadappliance !='' ">
                                        {{element.plugloadappliance}}
                                    </ng-container>
                                    <ng-container *ngIf="element.plugloadappliance =='' ">
                                        <input matInput type="text" formControlName="totalaream2">
                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Yearofinstallation">
                                <th mat-header-cell *matHeaderCellDef> Yearofinstallation</th>
                                <td mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
                                    <input matInput type="text" formControlName="plugloadappliance">
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Average Power">
                                <th mat-header-cell *matHeaderCellDef> Average Power</th>
                                <td mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
                                    <input matInput type="number" formControlName="yearofinstallation">
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Connected stock of equipment">
                                <th mat-header-cell *matHeaderCellDef> Connected stock of equipment</th>
                                <td mat-cell *matCellDef="let element;let index = index" [formGroupName]="avgpowerwatts">
                                    <input matInput type="number" formControlName="stock">
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Average operating hours per day">
                                <th mat-header-cell *matHeaderCellDef> Average operating hours per day</th>
                                <td mat-cell *matCellDef="let element;let index = index" [formGroupName]="index">
                                    <input matInput type="number" formControlName="totalareaft2">
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayOptBColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayOptBColumns; "></tr>
                        </table> -->

                                <div>
                                    <button mat-raised-button color="primary" style="margin-top: 1rem;"
                                        (click)="calculatePlugLoad()">Calculate</button>
                                </div><br>


                            </span>

                            <!-- plugload available -->
                            <span *ngIf="formgroup.controls.plugloads.value == 3"
                                class="container-fluid beet-container">


                                <div class="fields-note">
                                    <p><span class="notes-style"> Note:</span> Note: Options available for selected
                                        cases only. Select the most suitable type and closest area to your building. If
                                        the values in the options are far
                                        from your building values, please opt for Option B.</p>
                                </div>



                                <table mat-table [dataSource]="optcDataSource" class="mat-elevation-z8">

                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            Selected Element
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-radio-button [value]="element"
                                                (click)="selectedPlugload($event, element)">
                                            </mat-radio-button>
                                        </td>
                                    </ng-container>


                                    <ng-container matColumnDef="buildingtype">
                                        <th mat-header-cell *matHeaderCellDef> Building Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.buildingtype}}
                                        </td>
                                    </ng-container>


                                    <ng-container matColumnDef="avgpplwperft2">
                                        <th mat-header-cell *matHeaderCellDef> Average PPL ft2</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.avgpplwperft2}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="avgpplwperm2">
                                        <th mat-header-cell *matHeaderCellDef> Average PPL mt2 </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.avgpplwperm2}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalareaft2">
                                        <th mat-header-cell *matHeaderCellDef> Total Area in ft2 </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.totalareaft2}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalaream2">
                                        <th mat-header-cell *matHeaderCellDef> Total Area in mt2</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.totalaream2}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayOPTCColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayOPTCColumns;"></tr>
                                </table>


                            </span>
                            <div>
                                <b *ngIf="formgroup.controls.plugloads.value == 1">Plugload Density :
                                    {{formgroup.controls.plugLoadValueKnown.value| number:'1.2-2'}}
                                    {{formgroup.controls.plugLoadUnits.value}}</b>
                                <b *ngIf="formgroup.controls.plugloads.value == 2">Plugload Density :
                                    {{formgroup.controls.plugLoadValueKnown.value| number:'1.2-2'}}
                                    {{formgroup.controls.plugLoadUnits.value}}
                                </b>
                                <b *ngIf="formgroup.controls.plugloads.value == 3">Plugload Density :
                                    {{formgroup.controls.plugLoadValueKnown.value| number:'1.2-2'}}
                                    {{formgroup.controls.plugLoadUnits.value}}
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset>
            <legend>Plug loads operations and practices</legend>
            <h2>Plug loads operations and practices</h2>

            <div >

                <p>Select the option "Yes" or "No" and enter the quantity</p>
                <div class="example-container mat-elevation-z8">

                    <mat-table class="plugloadtable" formArrayName="plugLoadOptionsArray" [dataSource]="plugloadOptionsDataSource">

                        <!-- operations Column -->
                        <ng-container style="column-width: 5rem;" matColumnDef="plugloadops">
                            <mat-header-cell *matHeaderCellDef> Operations and pratices </mat-header-cell>
                            <mat-cell *matCellDef="let option let rowIndex = index"  [formGroupName]="rowIndex"> {{option.plugloadops}} </mat-cell>
                        </ng-container>

                        <!-- options Column -->
                        <ng-container style="text-align: center" matColumnDef="options">
                            <mat-header-cell *matHeaderCellDef> Yes/No/NA </mat-header-cell>
                            <mat-cell *matCellDef="let element let rowIndex = index"  [formGroupName]="rowIndex">
                                <mat-form-field >
                                    <mat-select [(value)]="element.options" placeholder="select" formControlName="operationresponse">
                                        <mat-option value="NA">NA</mat-option>
                                        <mat-option value="Yes">Yes</mat-option>
                                        <mat-option value="No">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                            <mat-cell *matCellDef="let quantity let rowIndex = index"  [formGroupName]="rowIndex">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Quantity" formControlName="quantity">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>

            </div>
        </fieldset>

    </form>
</div>