td.mat-cell,
th.mat-header-cell {
    border-style: groove;
    text-align: center;
}

.plugloadtable {
    width: 100%;
    background: transparent;
}

.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
}

.form-group {
    margin-bottom: 0px !important
}