<div class="container-fluid">
    <form [formGroup]="genDetailsForm" class="form mt-4">
        <fieldset>
            <legend>Location Details</legend>
            <h2>Location Details</h2>
            <p>Please select and share building location details
            </p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> It is important to select Provice first and then Location before clicking and loading the climate data. If exact location is not available, please select the nearest / most suitable location (or)
                    reach out to us.
                </p>
            </div>

            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName" required>
            </mat-form-field>

            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Project name</mat-label>
                <input matInput formControlName="projectName" required>
            </mat-form-field>

            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Select country</mat-label>
                <mat-select id="Country" (selectionChange)="onChangeCountry($event)" formControlName="country" required>
                    <mat-option *ngFor="let con of countrylist" [value]="con.countrycode">{{con.country}}</mat-option>
                </mat-select>
                <!-- <mat-hint color="primary">Select country</mat-hint> -->
            </mat-form-field>


            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Select Province</mat-label>
                <mat-select matNativeControl id="Province" formControlName="province" required (selectionChange)="onChangeProvince($event)">
                    <mat-option *ngFor="let location of locationDetails" [value]="location.province">
                        {{location.province}}</mat-option>
                </mat-select>
                <!-- <mat-hint color="primary">Select Province</mat-hint> -->
            </mat-form-field>


            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Select Location</mat-label>
                <mat-select matNativeControl id="Location" formControlName="location" required>
                    <mat-option *ngFor="let loc of locationlist" [value]="loc">{{loc}}</mat-option>
                </mat-select>
                <!-- <mat-hint color="primary">Select Location</mat-hint> -->
            </mat-form-field>
        </fieldset>
        <fieldset>
            <legend>Type of building</legend>
            <h2>Type of building</h2>
            <p>Please select the main building type.
            </p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> Please first select the building type from drop down list and then click the button to select building spaces. If your building type is not available in the list, please select the most representative
                    building type.
                </p>
            </div>
            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Select Building Type</mat-label>
                <mat-select matNativeControl id="Buidling" formControlName="buildingType" required (selectionChange)="onChangeBuildingType($event)">
                    <mat-option *ngFor="let building of buildingDetails" [value]="building.buildingtype">
                        {{building.buildingtype}}
                    </mat-option>
                </mat-select>
                <!-- <mat-hint color="primary">Select Building Type</mat-hint> -->
            </mat-form-field>

            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Select Building Spaces</mat-label>
                <mat-select matNativeControl id="BuidlingSpaces" formControlName="buildingSpaces" multiple required>
                    <mat-option *ngFor="let space of spacesList" [value]="space">{{space}}
                    </mat-option>
                </mat-select>
                <!-- <mat-hint color="primary">Select Building Spaces</mat-hint> -->
            </mat-form-field>
        </fieldset>
        <fieldset>
            <legend>Building age, area, no. of floors, occupancy hours</legend>
            <h2>Building age, area, no. of floors, occupancy hours</h2>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> You may select the units in which you may want to enter the building area value using drop down button.
                </p>
            </div>
            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Year of construction</mat-label>
                <input matInput formControlName="yearOfConstruction" type="number" required>
                <!-- <mat-hint color="primary">Please enter year of construction</mat-hint> -->
            </mat-form-field>

            <span class="units-picker-component">
                <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                    <mat-label>Building gross area</mat-label>
                    <input formControlName="buildingGrossArea" matInput type="number" style="width: 185px;">
                    <mat-select [(ngModel)]="grossUnits" placeholder="units" formControlName="grossAreaUnits">
                        <mat-option value="square feet">SquareFeet</mat-option>
                        <mat-option value="square meter">SquareMeter</mat-option>
                    </mat-select>
                </mat-form-field>
            </span>

            <span class="units-picker-component">
                <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                    <mat-label>Net occupied floor area</mat-label>
                    <input formControlName="Netoccupiedfloorarea" type="number" matInput required style="width: 185px;">
                    <mat-select [(ngModel)]="netUnits" placeholder="units" formControlName="netAreaUnits">
                        <mat-option value="square feet">SquareFeet</mat-option>
                        <mat-option value="square meter">SquareMeter</mat-option>
                    </mat-select>
                    <!-- <mat-hint color="primary">Please enter Net occupied floor area</mat-hint> -->
                </mat-form-field>
            </span>

            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>No. of floors</mat-label>
                <input formControlName="Nooffloors" type="number" matInput required>
                <!-- <mat-hint color="primary">Please enter No. of floors</mat-hint> -->
            </mat-form-field>

            <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                <mat-label>Occupancy hours per week</mat-label>
                <input formControlName="Occupanyhoursperweek" type="number" matInput required>
                <!-- <mat-hint color="primary">Please Occupancy hours per week</mat-hint> -->
            </mat-form-field>

        </fieldset>
        <fieldset>
            <legend>Occupancy - People </legend>
            <h2>Occupancy - People </h2>

            <p>Please share occupancy details for the building.
            </p>

            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> Select from following options. For option C, standard values will be considered based on the building categories and spaces selected. More details on this is given in the Assumptions section.
                </p>
            </div>
            <div>
                <mat-radio-group aria-label="Select an option" formControlName="occupancyDensity">
                    <mat-radio-button (click)=showOccupancy(true) value="1">I only know the number of people occupying the building during normal working hours.</mat-radio-button><br>
                    <mat-radio-button (click)=showOccupantDensity(true) value="2"> I know the occupant density of the building (m2/person or ft2/person).
                    </mat-radio-button><br>
                    <mat-radio-button (click)=showOccupancy(false) value="3">I do not know the value.
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <span *ngIf="hasOccupancy">
                <!-- <p style="margin-top: 1em;">I know the number of people occupying the building during normal
                            working hours.</p> -->
                <b style="margin-top: 1em;">Number of people occupying the building :</b>
                <mat-form-field class="w-100 mt-2 col-md-4" appearance="outline">
                    <mat-label>Enter value here</mat-label>
                    <input matInput placeholder="Enter value" formControlName="noOfPeopleOccupying" type="number">
                </mat-form-field>
            </span>


            <span *ngIf="hasOccupancyDensity">
                <!-- <p style="margin-top: 1em;">I know the occupanct density of the building.</p> -->

                <p class="fields-note">You may choose to enter the values for any of the units mentioned
                    below. Necessary units conversions will be made by
                    the tool for respective calculations.</p>
                <b style="margin-top: 1em;">Occupant Density of the building :</b>
                <span class="units-picker-component">
                    <mat-form-field class="w-100 mt-2 col-md-4" appearance="outline">
                        <mat-label>Enter value here</mat-label>
                        <input matInput placeholder="Enter value" type="number" formControlName="occupantDensityKnown"
                            type="number">
                        <mat-select  placeholder="units"
                            formControlName="occupantDensityUnits">
                            <mat-option value="square feet">square feet</mat-option>
                            <mat-option value="square meter">square meter</mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </span>

            <!--  <div>
                        <b>Occupant density (square meter per person):{{occupancyValue}}</b>
                    </div> -->
        </fieldset>

        <fieldset>
            <legend>Energy and Fuel cost</legend>
            <h2>Energy and Fuel cost</h2>

            <p>Please enter energy and fuel details associated with the building.
            </p>
            <div class="fields-note">
                <p><span class="notes-style"> Note:</span> Fuel considered as Natural Gas. If any other forms of fuel is being used, please reach out to us.
                </p>
            </div>

            <mat-form-field class="w-100 mt-1 col-md-6" appearance="outline">
                <mat-label>Select Electricity cost units</mat-label>
                <mat-select formControlName="electricityunits">
                    <mat-option *ngFor="let unit of eletricityunitslist" [value]="unit">{{unit}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100 mt-1 col-md-6" appearance="outline">
                <mat-label>Enter value here</mat-label>
                <input type="number" matInput formControlName="Electricitycost" placeholder="Enter value" required>
            </mat-form-field>

            <!-- <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Electricity cost</mat-label>
                        <input matInput required>
                    </mat-form-field> -->

            <mat-form-field class="w-100 mt-1 col-md-6" appearance="outline">
                <mat-label>Select Fuel cost units</mat-label>
                <mat-select formControlName="fuelunits">
                    <mat-option *ngFor="let units of fuelunitslist" [value]="units">{{units}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100 mt-1 col-md-6" appearance="outline">
                <mat-label>Enter value here</mat-label>
                <input matInput type="number" formControlName="Fuelcost" placeholder="Enter value" required>
            </mat-form-field>

            <!-- <mat-form-field class="w-100 mt-4 col-md-4" appearance="outline">
                        <mat-label>Fuel cost</mat-label>
                        <input matInput required>
                    </mat-form-field> -->


        </fieldset>
    </form>
</div>