<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>



<div class="container" id="pdf-general-section" style="border-style: ridge;padding-top: 1rem;">

    <div class="row" style="padding-top: 1rem;">

        <div class="col-md-2"><img src="../../../assets/images/report/argentinaflag.png"></div>
        <div class="col-md-3">
            <ul class="header-pdf" style="list-style: none;">
                <li style="font-size: xx-large;font-weight: bold; padding-bottom: 1rem; ">
                    {{selectedcountryname}}
                </li>
                <li style="font-weight: bold;">
                    Province : {{genDetailsComponent.genDetailsForm.controls.province.value}}
                </li>
                <li style="font-weight: bold;">
                    Location : {{genDetailsComponent.genDetailsForm.controls.location.value}}
                </li>
            </ul>
        </div>

        <div class="offset-md-3"> </div>
        <div class="col-md-2"><img width="" src="../../../assets/images/Logos/UNEP-partnershiplogo.png"
                style="width: 100%;"></div>
        <div class="col-md-2"><img width="" src="../../../assets/images/c2e2-logo-seforall.png" style=" width: 100%;">
        </div>
    </div>


    <div style="background-color:#5B9BD5 ;color:white ;font-size: larger;">
        <p>Self Assessment Building Energy Efficiency Calculator(BEEC)</p>
    </div>


    <div style="display: flex;">
        <div>
            <img src="../../../assets/images/report/plughouse.png">
        </div>
        <div style="display: flex;flex-direction: column;align-items: flex-end;">
            <div>
                <ul class="header-pdf" style="list-style: none;">
                    <li style="font-weight: bold;">
                        Study Report
                    </li>
                    <li style="font-weight: bold;">
                        Issued on : {{curDate}}
                    </li>
                    <li style="font-weight: bold;" *ngIf="beetReportComponent.pdfInputForm.value == true">
                        Issued by : {{beetReportComponent.beetReportForm.controls.userName.value}}
                    </li>
                </ul>

            </div>
            <div style="font-size: smaller;"> This factsheet shares a summary of baseline performance, scope for energy
                savings, energy related cost
                savings and emission reductions potential from the implementation of energy efficiency measures for your
                buildings in Argentina. It does not provide final values but rather estimations for a preliminary
                appraisal
                of the potential measures. The tool has been developed by the Copenhagen Centre on Energy Efficiency
                within
                the EuroClima+ framework. The use of these results are the sole responsibility of each individual user.
                All
                results should be checked and challenged before any reliance, investment grade applications and actions,
                publication or any other use. For more detailed information:<br>
                <b> please visit: www.c2e2.une contact us: c2e2@dtu.dk / rradu@dtu.dk</b>
            </div>
        </div>
    </div>

    <div style="background-color:#5B9BD5 ;color:white ;font-size: larger;">
        <p>General Details</p>
    </div>

    <div *ngIf="beetReportComponent.pdfInputForm.value == true" style="padding-left: 2rem;">
        <td style="font-weight: bold;">Project Name :</td>
        <td style=" background-color: #FFD966;;">{{beetReportComponent.beetReportForm.controls.projectName.value}}
        </td>
    </div>

    <div style="display: flex;flex-wrap: wrap; overflow: hidden;">
        <table class="table table-hover" style="flex: 1 1 20em;
        border-top: 1px solid 	rgb (0,0,0);
        border-left: 1px solid 	rgb (0,0,0);
        margin-top: -1px;
        margin-left: -1px;">



            <tbody>
                <tr>
                    <td style="font-weight: bold;">Building type :</td>
                    <td>{{genDetailsComponent.genDetailsForm.controls.buildingType.value}}
                    </td>
                </tr>
                <tr *ngIf="beetReportComponent.pdfInputForm.value == true">
                    <td style="font-weight: bold;">Construction Year :</td>
                    <td>{{beetReportComponent.beetReportForm.controls.yearOfConstruction.value}}
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Surface Area : </td>
                    <td>{{genDetailsComponent.genDetailsForm.controls.netOccupiedFloorArea.value|
                        number:'1.2-2'}}
                        {{genDetailsComponent.genDetailsForm.controls.netAreaUnits.value}}
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">No. of Floors : </td>
                    <td>{{genDetailsComponent.genDetailsForm.controls.noOfFloors.value}}
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Occupancy Hours : </td>
                    <td>{{genDetailsComponent.genDetailsForm.controls.occupanyHoursPerWeek.value}}
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover" style="flex: 1 1 20em;
        border-top: 1px solid 	rgb (0,0,0);
        border-left: 1px solid 	rgb (0,0,0);
        margin-top: -1px;
        margin-left: -1px;">
            <tbody>
                <tr>
                    <td style="font-weight: bold;">Occupant Density :</td>
                    <td> {{genDetailsComponent.genDetailsForm.controls.occupantDensityKnown.value|
                        number:'1.2-2'}}
                        {{genDetailsComponent.genDetailsForm.controls.occupantDensityUnits.value}}
                    </td>
                </tr>

                <tr>
                    <td style="font-weight: bold;">Electricity Cost :</td>
                    <td>{{genDetailsComponent.genDetailsForm.controls.electricityCost.value|
                        number:'1.2-2'}}
                        {{genDetailsComponent.genDetailsForm.controls.electricityUnits.value}}
                    </td>
                </tr>

                <tr>
                    <td style="font-weight: bold;">Fuel Cost : </td>
                    <td>{{genDetailsComponent.genDetailsForm.controls.fuelCost.value|
                        number:'1.2-2'}}
                        {{genDetailsComponent.genDetailsForm.controls.fuelUnits.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div style="background-color:#5B9BD5 ;color:white ;font-size: larger;">
        <p>Key Indicators</p>
    </div>

    <div class="row">
        <div class="container-fluid mt-5 col-md-6">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="parentData.barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                    [chartType]="barChartType" [colors]="barChartColors">
                </canvas>
            </div>
        </div>
        <div class="container-fluid mt-5 col-md-6">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="parentData.barChartData2" [labels]="barChartLabels2"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                    [chartType]="barChartType" [colors]="barChartColors">
                </canvas>
            </div>
        </div>
        <div class="container-fluid mt-5 col-md-6">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="parentData.barChartData3" [labels]="barChartLabels3"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                    [chartType]="barChartType" [colors]="barChartColors">
                </canvas>
            </div>
        </div><br>

        <div class="key-indicators-table" style="display:flex">
            <table class="table table-hover" style="flex: 1 1 20em;
            border-top: 1px solid 	rgb (0,0,0);
            border-left: 1px solid 	rgb (0,0,0);
            margin-top: -1px;
            margin-left: -1px;">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="key-indicators">Peak electricity demand in</td>
                        <td class="key-data-values">{{parentData.peakelectricitydemand}}</td>
                    </tr>
                    <tr>

                        <td class="key-indicators">Highest electricity consumption in</td>
                        <td class="key-data-values">{{parentData.highestelectricityconsumption}}</td>
                    </tr>
                    <tr>

                        <td class="key-indicators">Highest fuel consumption for heating in</td>
                        <td class="key-data-values">{{parentData.highestfuelconsumption}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover" style="flex: 1 1 20em;
            border-top: 1px solid 	rgb (0,0,0);
            border-left: 1px solid 	rgb (0,0,0);
            margin-top: -1px;
            margin-left: -1px;">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="key-indicators">
                            <img style="width: 30px" src="../../../assets/images/report/esavings.png">Energy Savings
                        </td>
                        <td class="key-data-values">{{parentData.energysavings |
                            number:'1.2-2'}}{{parentData.energysavingsunit}}</td>
                        <td class="key-data-percentvalues">{{parentData.energysavingspercent | number:'1.2-2'}}
                            <img style="width: 22px" src="../../../assets/images/report/green-arrow.png">
                        </td>
                    </tr>
                    <tr>

                        <td class="key-indicators">
                            <img style="width: 30px" src="../../../assets/images/report/ecsavings.png">Energy Cost
                            Savings
                        </td>
                        <td class="key-data-values">{{parentData.energycostsavings |
                            number:'1.2-2'}}{{parentData.energycostsavingsunit}}</td>
                        <td class="key-data-percentvalues">{{parentData.energycostsavingspercent | number:'1.2-2'}}
                            <img style="width: 22px" src="../../../assets/images/report/green-arrow.png">
                        </td>
                    </tr>
                    <tr>

                        <td class="key-indicators">
                            <img style="width: 40px" src="../../../assets/images/report/co2red.png">CO2 Reduction
                        </td>
                        <td class="key-data-values">{{parentData.co2reduction | number:'1.2-2'}}
                            {{parentData.co2reductionunit}}</td>
                        <td class="key-data-percentvalues">{{parentData.co2reductionpercent | number:'1.2-2'}}
                            <img style="width: 22px" src="../../../assets/images/report/green-arrow.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="container" id="pdf-construction" style="border-style: ridge;padding-top: 1rem;">
    <div style="background-color:#5B9BD5 ;color:white ;font-size: larger;">
        <p>BASELINE vs EE Potential Improvements</p>
    </div>
    <div>
        <table class="table  table-hover table-bordered table-sm" data-toggle="table">
            <thead>
                <tr>
                    <th colspan="6" style="background-color: #2F75B5;">Construction Elements</th>
                </tr>
                <tr>
                    <th colspan="3" style="background-color: #F4B084;">Baseline</th>
                    <th colspan="4" style="background-color: #A9D08E;">Energy Efficiency Standards</th>
                </tr>
                <tr>
                    <th colspan="2" style="background-color: #FCE4D6;">Element</th>
                    <th style="background-color: #FCE4D6;">Indicators</th>
                    <th style="background-color: #E2EFDA;">Indicators</th>
                    <th style="background-color: #E2EFDA;">Benchmark</th>
                    <th style="background-color: #E2EFDA;">Recommendations</th>
                </tr>

                <tr>
                    <th colspan="6">Main facade</th>
                </tr>

                <tr>
                    <td colspan="2" style="width: 40%;">
                        <p *ngIf="buildingdetailsComponent?.formgroup.controls.outerwallr.value == 1"
                            style="font-size: large;font-weight: bold;text-align: center;">
                            User Input Value
                        </p>
                        <img *ngIf="buildingdetailsComponent?.formgroup.controls.outerwallr.value == 2"
                            style="width: 100%;"
                            [src]="buildingdetailsComponent?.formgroup.get('outerWallArray')['controls'][0].controls.rimages.value.imagepath" />
                        <p *ngIf="buildingdetailsComponent?.formgroup.controls.outerwallr.value == 3"
                            style="font-size: large;font-weight: bold;text-align: center;">
                            User Custom Built Layer</p>
                    </td>
                    <td style="color: red;">{{parentData.wallrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.wallrvalueunit}}</td>
                    <td style="color: green">{{parentData.wallrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.wallrvalueunit}}</td>
                    <td></td>
                    <td>
                        <ul>
                            <li *ngFor="let rec of parentData.wallrecommendations;
                                    let i = index">
                                {{ rec.recommendation}}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th style="background-color: #F2F2F2;" colspan="6">Roof</th>
                </tr>

                <tr>
                    <td colspan="2" style="width: 40%;">
                        <p *ngIf="buildingdetailsComponent?.formgroup.controls.roofr.value == 1"
                            style="font-size: large;font-weight: bold;text-align: center;">
                            User Input Value</p>
                        <img *ngIf="buildingdetailsComponent?.formgroup.controls.roofr.value == 2" style="width: 100%;"
                            [src]="buildingdetailsComponent?.formgroup.get('roofrArray')['controls'][0].controls.roofrimages.value.imagepath" />
                        <p *ngIf="buildingdetailsComponent?.formgroup.controls.roofr.value == 3"
                            style="font-size: large;font-weight: bold;text-align: center;">
                            User Custom Built Layer</p>


                    </td>
                    <td style="color: red;">{{parentData.roofrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.roofrvalueunit}}</td>
                    <td style="color: green">{{parentData.roofrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.roofrvalueunit}}</td>
                    <td></td>
                    <td>
                        <ul>
                            <li *ngFor="let rec of parentData.roofrecommendations;
                                        let i = index">
                                <p>{{ rec.recommendation}}</p>

                            </li>
                        </ul>
                    </td>
                </tr>


                <tr>
                    <th colspan="6">Windows</th>
                </tr>

                <tr style="width: 40%;">
                    <td rowspan="3"> <img style="width: 100%;" src="../../../assets/images/report/window-report.png" />
                    </td>
                    <td>SHGC</td>
                    <td style="color: red;">{{parentData.windowshgcvaluebaseline }}</td>
                    <td style="color: green">{{parentData.windowshgcvalueees }}</td>
                    <td rowspan="3"></td>
                    <td rowspan="3">
                        <ul>
                            <li *ngFor="let rec of parentData.windowrecommendations;
                                    let i = index">
                                <p> {{ rec.recommendation}}</p>
                            </li>
                        </ul>
                    </td>

                </tr>
                <tr>
                    <td>WWR</td>
                    <td style="color: red;">{{parentData.wwrvaluebaseline }}
                        {{parentData.wwrvalueunit}}</td>
                    <td style="color: green">{{parentData.wwrvalueees}}
                        {{parentData.wwrvalueunit}}</td>
                </tr>

                <tr>
                    <td>R value</td>
                    <td style="color: red;">{{parentData.windowrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.windowrvalueunit}}</td>
                    <td style="color: green">{{parentData.windowrvalueees | number:'1.2-2'}}
                        {{parentData.windowrvalueunit}}</td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="container" id="pdf-hvac" style="border-style: ridge;padding-top: 1rem;">
    <div style="background-color:#5B9BD5 ;color:white ;font-size: larger;">
        <p>BASELINE vs EE Potential Improvements</p>
    </div>


    <div>
        <table class="table  table-bordered table-sm" data-toggle="table">
            <thead>
                <tr>
                    <th colspan="5" style="background-color: #2F75B5;">HVAC SYSTEMS</th>
                </tr>
                <tr>
                    <th colspan="2" style="background-color: #F4B084;">Baseline</th>
                    <th colspan="3">Energy Efficiency Standards</th>
                </tr>
                <tr>
                    <th style="background-color: #FCE4D6;">System</th>
                    <th style="background-color: #FCE4D6;">Performance</th>
                    <th style="background-color: #E2EFDA;">Performance</th>
                    <th style="background-color: #E2EFDA;">Benchmark</th>
                    <th style="background-color: #E2EFDA;">Recommendations</th>
                </tr>

                <tr>
                    <th colspan="5">Heating</th>
                </tr>

                <tr>
                    <td>
                        <img style="width: 100%;" [src]="parentData.heatingefficiencyimage" />
                    </td>
                    <td style="color: red;">
                        {{parentData.heatingefficiencybaseline}}{{parentData.heatingefficiencyunit}}
                    </td>
                    <td style="color: green">
                        {{parentData.heatingefficiencyees}}{{parentData.heatingefficiencyunit}}
                    </td>
                    <td></td>
                    <td>
                        <ul>


                            <li *ngFor="let rec of parentData.heatingefficiencyrecommendations;
                                            let i = index">
                                <p>{{ rec.recommendation}}</p>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th colspan="5">Cooling</th>
                </tr>

                <tr>
                    <td>
                        <img style="width: 100%;" [src]="parentData.coolingefficiencyimage" />
                    </td>
                    <td style="color: red;">
                        {{parentData.coolingefficiencybaseline}} {{parentData.coolingefficiencyunit}}
                    </td>
                    <td style="color: green;">
                        {{parentData.coolingefficiencyees | number:'1.2-2'}}
                        {{parentData.coolingefficiencyunit}}
                    </td>
                    <td></td>
                    <td>
                        <ul>
                            <li *ngFor="let rec of parentData.coolingefficiencyrecommendations;
                                            let i = index">
                                <p> {{ rec.recommendation}}</p>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th colspan="5">Fans and Blowers</th>
                </tr>

                <tr>
                    <td> <img style="width: 100%;" src="../../../assets/images/report/fansblowers-report.png" />
                    </td>
                    <td style="color: red;">{{parentData.roofrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.roofrvalueunit}}</td>
                    <td style="color:green">{{parentData.roofrvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.roofrvalueunit}}</td>
                    <td></td>
                    <td>
                        <ul>
                            <li *ngFor="let rec of parentData.fansblowersrecommendations;
                                            let i = index">
                                <p> {{ rec.recommendation}}</p>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th colspan="5">LIGHTING</th>
                </tr>

                <tr>
                    <th colspan="5" style="background-color: #2F75B5;">Lighting</th>
                </tr>

                <tr>
                    <td> <img style="width: 100%;" src="../../../assets/images/report/lightning-report.png" />
                    </td>
                    <td style="color: red;">{{parentData.lightingvaluebaseline |
                        number:'1.2-2'}}
                        {{parentData.lightingvalueunit}}</td>
                    <td style="color:green ;">{{parentData.lightingvalueees |
                        number:'1.2-2'}}
                        {{parentData.lightingvalueunit}}</td>
                    <td></td>
                    <td>
                        <ul>
                            <li *ngFor="let rec of parentData.lightingrecommendations;
                                            let i = index">
                                <p> {{ rec.recommendation}}</p>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <th colspan="5" style="background-color: #2F75B5;">PLUGLOADS</th>
                </tr>

                <tr>
                    <th colspan="5">PlugLoads</th>
                </tr>
                <tr>
                    <td> <img style="width: 100%;" src="../../../assets/images/report/plugload-report.png" />
                    </td>
                    <td style="color: red;">{{parentData.plugloaddensitybaseline |
                        number:'1.2-2'}}
                        {{parentData.plugloaddensityunit}}</td>
                    <td style="color: green">{{parentData.plugloaddensityees |
                        number:'1.2-2'}}
                        {{parentData.plugloaddensityunit}}</td>
                    <td></td>
                    <td>
                        <ul>
                            <li *ngFor="let rec of parentData.plugloaddensityrecommendations;
                                            let i = index">
                                <p> {{ rec.recommendation}}</p>

                            </li>
                        </ul>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>


<button mat-raised-button color="primary" (click)="getPDF()" style="padding-top: 1rem;">Download Pdf
    <mat-icon *ngIf="isGenerating">
        <mat-spinner color="accent" diameter="20">
        </mat-spinner>
    </mat-icon>
</button>