<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
        <h3>Calculate R value for outer wall by adding custom layers</h3>
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>


<div mat-dialog-content>
    

    <mat-form-field appearance="outline">
        <mat-label>Select main material category</mat-label>
        <mat-select  >
            <mat-option *ngFor="let list of categoryList" [value]="list">{{list}}</mat-option>
        </mat-select>
    </mat-form-field>

   


</div>