/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "./theme.scss";
//mat table responsive css
@import './app/material/mat-table-responsive/mat-table-responsive.directive.scss';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    .c-global-search__inner {
        text-align: center;
    }
    *,
     :after,
     :before {
        box-sizing: border-box;
    }
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    user agent stylesheet body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
}

html,
body {
    height: 100%;
}

.button-dialog {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px !important;
<<<<<<< HEAD
}
=======
    }
.mat-toolbar {
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
        background: transparent;
    }
/* 
.calculator-tool5{
        background-color: lightgoldenrodyellow;
    } */
>>>>>>> c7f9bc4862973e51c4d10e9d9e668100c14fe7f8

.mat-toolbar {
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}

.calculator-tool5 {
    background-color: lightgoldenrodyellow;
}

.units-picker-component .mat-form-field-infix {
    display: inherit;
}

.fields-note {
    font-style: italic;
}

.notes-style {
    font-weight: bold;
    color: indianred;
}

.cdk-overlay-pane.my-dialog {
    position: relative!important;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    // line-height: 14px;
    min-width: auto;
<<<<<<< HEAD
  }

  
=======
}
>>>>>>> a6d0d6b8c9ada8cf2741491714b9b452d310b3f6
