/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";

//mat table responsive css
@import './app/material/mat-table-responsive/mat-table-responsive.directive.scss';



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button-dialog{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px !important;
    }
.mat-toolbar {
        position: -webkit-sticky;
        top: 0;
        z-index: 1;
        background: transparent;
    }