/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
//mat table responsive css
@import './app/material/mat-table-responsive/mat-table-responsive.directive.scss';
html,
body {
    height: 100%;
    color: #212529;
}

.button-dialog {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px !important;
}

.mat-toolbar {
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}

.mat-toolbar {
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}

.units-picker-component .mat-form-field-infix {
    display: inherit;
}

.fields-note {
    font-style: italic;
}

.notes-style {
    font-weight: bold;
    color: indianred;
}

.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    // line-height: 14px;
    min-width: auto;
}

fieldset {
    border: 2px solid #01465f;
    padding: 1em;
    float: left;
    font-family: Arial;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
}

legend {
    display: none;
}

h2 {
    //border-bottom: 2px solid gray;
    margin: 1em 0;
}

p {
    margin: 1em 0;
}

::ng-deep .mat-radio-label-content {
    white-space: break-spaces !important;
}

.calculator-tools {
    padding: 20px;
    background: #c5e9e7;
    background: linear-gradient(221deg, rgba(0, 156, 147, .23), rgba(13, 97, 124, .23));
    background-image: linear-gradient(221deg, rgba(0, 156, 147, 0.23), rgba(13, 97, 124, 0.23));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.page-title {
    font-size: 20px !important;
    line-height: 58px !important;
    font-weight: 500 !important;
    margin-bottom: unset;
    text-transform: uppercase !important;
    padding-top: 20px !important;
    padding-left: 10px !important;
}

.tools-header {
    padding: 0.3rem 0 2rem;
    .top-logo {
        padding: 0 0 0 5rem;
        .row-logo {
            display: flex;
            justify-content: flex-end;
            padding-bottom: .5rem;
            img {
                padding: 0 .75rem;
            }
        }
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
    font-size: 48px;
    h2 {
        font-size: 35px;
        line-height: 58px;
        font-weight: 900;
        margin-bottom: unset;
        text-transform: uppercase;
    }
    p {
        font-size: 30px;
        margin-bottom: 0;
        line-height: 34px;
    }
}

@media only screen and (max-width: 600px) {
     ::ng-deep .mat-horizontal-stepper-header-container {
        display: none !important;
    }
    .title-container {
        h2 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 900;
            margin-bottom: unset;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            margin-bottom: 0;
            line-height: 20px;
        }
    }
}

.row_inline {
    display: flex;
    margin: 0;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-should-float {
    .mat-form-field-label {
        transform: none;
        width: initial;
        opacity: 0;
    }
    .mat-form-field-outline-gap {
        border-top-color: initial !important;
    }
}