/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";
//mat table responsive css
@import './app/material/mat-table-responsive/mat-table-responsive.directive.scss';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    .c-global-search__inner {
        text-align: center;
    }
    *,
     :after,
     :before {
        box-sizing: border-box;
    }
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    user agent stylesheet body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }
}

html,
body {
    height: 100%;
}

.button-dialog {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px !important;
}

.mat-toolbar {
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}

.calculator-tool5 {
    background-color: #bbe4e9;
}

.mat-toolbar {
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: transparent;
}

.calculator-tool5 {
    background-color: lightgoldenrodyellow;
}

.units-picker-component .mat-form-field-infix {
    display: inherit;
}

.fields-note {
    font-style: italic;
}

.notes-style {
    font-weight: bold;
    color: indianred;
}

.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    // line-height: 14px;
    min-width: auto;
}

fieldset {
    border: 2px solid gray;
    padding: 1em;
    float: left;
    font-family: Arial;
    margin-bottom: 20px;
    width: 100%;
}

legend {
    display: none;
}

h2 {
    //border-bottom: 2px solid gray;
    margin: 1em 0;
}

p {
    margin: 1em 0;
}

::ng-deep .mat-radio-label-content {
    white-space: break-spaces;
}

.calculator-tools {
    padding: 20px;
    background: #c5e9e7;
    background: linear-gradient( 221deg, rgba(0, 156, 147, .23), rgba(13, 97, 124, .23));
    background-image: linear-gradient( 221deg, rgba(0, 156, 147, 0.23), rgba(13, 97, 124, 0.23));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.page-title {
    font-size: 20px !important;
    line-height: 58px !important;
    font-weight: 500 !important;
    margin-bottom: unset;
    text-transform: uppercase !important;
    padding-top: 20px !important;
    padding-left: 10px !important;
}