<mat-toolbar class="mat-toolbar">
    <mat-toolbar-row class="d-flex justify-content-between">
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid beet-container">
    <form [formGroup]="formgroup" class="form">

        <!-- Heating efficiency  -->

        <fieldset>
            <legend>Heating</legend>
            <h2>4.1 Heating efficiency</h2>
            <div >
                <p class="question-text">Do you know the heating equipment efficiency of your building?</p>
                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span> You may select any of the options.
                        You may find these values on the equipment name plate or design document or from supplier
                    </p>
                </div>
                <mat-radio-group aria-label="Select an option" formControlName="heatefficiency"
                    (change)="onChangeHeatEffOption($event)">
                   A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                   B. <mat-radio-button value="2">No, I don't know. (default values will be assumed for calculations) </mat-radio-button><br>
                   C. <mat-radio-button value="3">The building does not use any
                        heating equipment</mat-radio-button>
                </mat-radio-group><br><br>

                <div formArrayName="heatefficiencyArray" *ngIf="formgroup.controls.heatefficiency.value !== ''">
                    <div *ngFor="let item of  formgroup.get('heatefficiencyArray')['controls'];let i = index;">
                        <div [formGroupName]="i">
                            <!-- Heat efficiency known -->
                            <span *ngIf="formgroup.controls.heatefficiency.value == 1" class="units-picker-component">
                                <p>The value should be available on the equipment name plate or contact the supplier.For
                                    Heat pumps enter COP value.</p>
                                <b style="margin-top: 1em;">Enter the heatingequipment efficiency value :
                                </b>
                                <mat-form-field class="w-100 mt-2 col-md-6" appearance="outline">
                        
                                    <input matInput placeholder="Enter heating equipment efficiency value" type="number"
                                        formControlName="heatefficiencyKnown" type="number">
                                    <mat-select placeholder="units" formControlName="heatEfficiencyUnits">
                                        <mat-option value="%">%</mat-option>
                                        <mat-option value="COP">COP</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div>
                                    <mat-radio-group class="mat-radio-group-image" formControlName="heatValueImages"
                                        (change)="processHeatCoolEvent($event,'heating')">
                                        <mat-radio-button *ngFor="let con of heatingData"
                                            [value]="con.heatingequipmentname">
                                            <img src="{{con.imgpath}}">
                                            <p>{{con.heatingequipmentname}}</p>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>

                            </span>


                            <!--Heat efficiency Images -->
                            <div *ngIf="formgroup.controls.heatefficiency.value == 2">

                                <div>
                                    <p style="margin-top: 1em;">Please select the most representative picture for your
                                        heating equipment
                                        type.<br>
                                    </p>
                                    <div> 
                                        <mat-radio-group class="mat-radio-group-image" formControlName="heatValueImages"
                                            (change)="processHeatCoolEvent($event,'heating')">
                                            <mat-radio-button *ngFor="let con of heatingData"
                                                [value]="con.heatingequipmentname">
                                                <img src="{{con.imgpath}}">
                                                <p>{{con.heatingequipmentname}}</p>
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <b *ngIf="formgroup.controls.heatefficiency.value == 1">Heating efficiency :
                                    {{formgroup.get('heatefficiencyArray')['controls'][0].controls.heatefficiencyKnown.value}}
                                    {{formgroup.get('heatefficiencyArray')['controls'][0].controls.heatEfficiencyUnits.value}}
                                </b>
                                <b *ngIf="formgroup.controls.heatefficiency.value == 2">Heating efficiency :

                                    {{formgroup.get('heatefficiencyArray')['controls'][0].controls.heatefficiency.value}}
                                    {{formgroup.get('heatefficiencyArray')['controls'][0].controls.heatEfficiencyUnits.value}}
                                </b>
                                <b *ngIf="formgroup.controls.heatefficiency.value == 3">No heating equipment
                                </b>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </fieldset>
        <!-- Air-Conditioning (Cooling) -->
        <fieldset>
            <legend>Air-Conditioning (Cooling)</legend>
            <h2>4.2 Air-Conditioning (Cooling)</h2>

            <div >
                <p class="question-text">Do you know the cooling equipment performance parameters of your building? </p>
                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span> You may select any of the options.
                        You may find these values on the equipment name plate or design document or from supplier.
                    </p>
                </div>
                <mat-radio-group aria-label="Select an option" formControlName="airconditioning"
                    (change)="onChangecoolingEffOption($event)">
                   A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                   B. <mat-radio-button value="2">No, I don't know. (default values will be assumed for calculations) </mat-radio-button><br>
                   C. <mat-radio-button value="3">The building does not use any
                        cooling equipment</mat-radio-button>
                </mat-radio-group><br><br>


                <div formArrayName="coolefficiencyArray" *ngIf="formgroup.controls.airconditioning.value !== ''">
                    <div *ngFor="let item of  formgroup.get('coolefficiencyArray')['controls'];let i = index;">
                        <div [formGroupName]="i">
                            <!-- cool efficiency known -->
                            <span *ngIf="formgroup.controls.airconditioning.value == 1" class="units-picker-component">
                                <p>Please enter the value in below text box and select respective units.</p>
                                
                                    <mat-form-field class="w-100 mt-2 col-md-6" appearance="outline">
                                        <input matInput placeholder="Enter cooling equipment efficiency value" formControlName="acEfficiencyValue"
                                            type="number">
                                        <mat-select placeholder="units" formControlName="acEfficiencyParameter">
                                            <mat-option *ngFor="let unit of acEfficiencyParameterList" [value]="unit">
                                                {{unit}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                
                                <div>
                                    <mat-radio-group class="mat-radio-group-image" formControlName="coolImages"
                                        (change)="processHeatCoolEvent($event,'cooling')">
                                        <mat-radio-button *ngFor="let con of coolingData"
                                            [value]="con.coolingequipmentname">
                                            <img src="{{con.imgpath}}">
                                            <p>{{con.coolingequipmentname}}</p>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <p>Note:The value should be available on the equipment name plate or contact the
                                    supplier.</p>

                            </span>

                            <!--cool efficiency Images -->

                            <span *ngIf="formgroup.controls.airconditioning.value == 2">

                                <p style="margin-top: 1em;">Please select the most representative picture for your
                                    cooling equipment
                                    type.<br>
                                </p>
                                <div class="row">

                                    <mat-radio-group class="mat-radio-group-image" formControlName="coolImages"
                                        (change)="processHeatCoolEvent($event,'cooling')">
                                        <mat-radio-button *ngFor="let con of coolingData"
                                            [value]="con.coolingequipmentname">
                                            <img src="{{con.imgpath}}">
                                            <p>{{con.coolingequipmentname}}</p>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </span>
                            <div>
                                <b *ngIf="formgroup.controls.airconditioning.value == 1">Cooling efficiency :
                                    {{formgroup.get('coolefficiencyArray')['controls'][0].controls.acEfficiencyValue.value}}
                                    {{formgroup.get('coolefficiencyArray')['controls'][0].controls.acEfficiencyParameter.value}}

                                </b>
                                <b *ngIf="formgroup.controls.airconditioning.value == 2">Cooling efficiency :
                                    {{formgroup.get('coolefficiencyArray')['controls'][0].controls.acEfficiencyValue.value}}
                                    {{formgroup.get('coolefficiencyArray')['controls'][0].controls.acEfficiencyUnits.value}}
                                </b>
                                <b *ngIf="formgroup.controls.airconditioning.value == 3">No Cooling equipment
                                </b>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </fieldset>

        <!-- ventilation -->

        <fieldset>
            <legend>Ventilation</legend>
            <h2>4.3 Ventilation</h2>

            <div>
                <p class="question-text">Do you know the ventilation rate value for your building?</p>

                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span> You may select any of the options to provide building infiltration rate.</p>
                </div>
                <mat-radio-group aria-label="Select an option" formControlName="ventilation">
                   A. <mat-radio-button value="1">Yes, I know</mat-radio-button><br>
                   B. <mat-radio-button value="2" (click)="postCalculateVentilationRate()">No, I don't know
                    </mat-radio-button>
                </mat-radio-group>

                <span *ngIf="formgroup.controls.ventilation.value == 1" class="units-picker-component">
                    <p class="fields-note">You may choose to enter the values for any of the units mentioned
                        below. Necessary units conversions will be made by the tool for respective calculations.</p>
                    <b style="margin-top: 1em;">Ventilation Rate : </b>
                    <mat-form-field class="w-100 mt-2 col-md-6" appearance="outline">
                        <input matInput placeholder="Enter ventilation value" type="number" formControlName="ventilationValue"
                            type="number">
                        <mat-select placeholder="units" formControlName="ventilationUnits">
                            <mat-option value="cubic meter per minute per person">cubic meter per minute per person
                            </mat-option>
                            <mat-option value="cubic feet per minute per person">cubic feet per minute per person
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
                <div>
                    <b>Ventilation: {{formgroup.controls.ventilationValue.value}} {{formgroup.controls.ventilationUnits.value}}</b>
                </div>
            </div>
        </fieldset>

        <!-- Infiltration rate  -->

        <fieldset>
            <legend>Infiltration rate </legend>
            <h2>4.4 Infiltration rate </h2>

            <div>
                <p class="question-text">Do you know the infiltration rate value for your building?</p>
                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span> You may select any of the options to provide building infiltration rate.</p>
                </div>

                <div>
                    <mat-radio-group aria-label="Select an option" formControlName="infiltration">
                       A. <mat-radio-button value="1">Yes, I know
                        </mat-radio-button><br>
                        B. <mat-radio-button (click)="defaultInfiltration()" value="2">No, I don't know. (default values will be assumed for calculations).
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <span *ngIf="formgroup.controls.infiltration.value==1">
                    <p style="margin-top: 1em;">Please enter the Infiltration Rate value in Air Changes per
                        Hour(ACH)</p>
                    <mat-form-field class="w-100 mt-1 col-md-4" appearance="outline">
                        <input matInput placeholder="Enter infiltration value" required formControlName="infiltrationValue">
                    </mat-form-field>
                </span>
                <div>
                    <b>Infiltration Rate: {{formgroup.controls.infiltrationValue.value}} {{formgroup.controls.infiltrationUnits.value}}</b>
                </div>
            </div>

        </fieldset>
        <!-- Economizer / free cooling  -->

        <fieldset>
            <legend>Economizer/free cooling</legend>
            <h2>4.5 Economizer/free cooling</h2>

            <div >
                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span> Economizer is a part of the outdoor system of an HVAC
                        system. It can be used to avail optimal
                        free cooling using outside air if the outside ambient conditions are favourable with respect
                        to the temperatures and humidity levels.
                        N/A: Not applicable
                    </p>
                </div>
                <div>
                    <span>
                        <p class="question-text">Do you have and actively manage the economizer / free cooling to cater to your cooling
                            needs?</p>
                    </span>
                    <span>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="select any option" formControlName="economizer">
                                <mat-option *ngFor="let option of options" [value]="option.value">
                                    {{option.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>

            </div>
        </fieldset>

        <!-- Other miscellaneous data -->

        <fieldset>
            <legend>Other miscellaneous data</legend>
            <h2>4.6 Other miscellaneous data</h2>
            <div >
                <div class="fields-note">
                    <p><span class="notes-style"> Note:</span> Average indoor air temperature being maintained
                        throughout the year inside the building. It
                        can also be the temperature set points at the user side (occupant areas).
                        Enter the value in either units i.e. degree Centigrade (ºC) or degree Fahrenheit (ºF)
                        N/A: Not applicable
                    </p>
                </div>

                <span class="units-picker-component">
                    <p class="fieldname-align question-text">Average indoor air temperature (set-point):</p>
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Enter value" type="number" formControlName="avgIndoorAirTemp">
                        <mat-select [(value)]="units" placeholder="units" formControlName="avgIndoorAirTempUnit">
                            <mat-option value="centigrade">ºC</mat-option>
                            <mat-option value="farenheit">ºF</mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>

                <p class="question-text">Inverter / VFD / Speed controller for HVAC compressors installed? </p>

                <mat-form-field appearance="outline">
                    <mat-select placeholder="select any option" formControlName="hvacCompressorInstalled">
                        <mat-option *ngFor="let option of options" [value]="option.value">
                            {{option.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <p class="question-text">Inverter / VFD / Speed controller for HVAC fans and blowers installed?</p>

                <mat-form-field appearance="outline">
                    <mat-select placeholder="select any option" formControlName="hvacFansandBlowersInstalled">
                        <mat-option *ngFor="let option of options" [value]="option.value">
                            {{option.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
        </fieldset>
    </form>

</div>