.fieldname-align {
    margin-right: 5rem;
    margin-top: 1rem;
}

.mat-radio-group-image {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

::ng-deep .table thead th {
    text-align: center;
}