.caption-text {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}

.row1-grid-container {
    width: 100%;
}

.row2-grid-container {
    margin: 0px 80px;
}

@media only screen and (max-width: 600px) {
    .row2-grid-container {
        margin: 0px !important;
    }
}