<div class="grid-container container">

    <mat-grid-list  [cols]="breakpoint"  gutterSize="16px" rowHeight="12rem" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <figure>
                <a [routerLink]="['/transformer']"> <img src="/assets/images/Logos/Transformers.jpg"></a>
                <figcaption class="caption-text">
                    <p>Transformers</p>
                </figcaption>
            </figure>
        </mat-grid-tile>

        <mat-grid-tile>
            <figure>
                <a [routerLink]="['/building']"><img src="./assets/images/Logos/Buildings.jpg"></a>
                <figcaption class="caption-text">Buildings</figcaption>
            </figure>
        </mat-grid-tile>
        <mat-grid-tile>
            <figure>
                <img src="./assets/images/Logos/District Energy.jpg">
                <figcaption class="caption-text">
                    <p>District Energy</p>
                </figcaption>

            </figure>
        </mat-grid-tile >
        <mat-grid-tile>
            <figure>
                <img src="./assets/images/Logos/Motor-pump.jpg">
                <figcaption class="caption-text">
                    <p>Motor-pump</p>
                </figcaption>
            </figure>
        </mat-grid-tile>
        <mat-grid-tile>
            <figure>
                <img src="./assets/images/Logos/Street Lighting.jpg">
                <figcaption class="caption-text">
                    <p>Street Lighting</p>
                </figcaption>
            </figure>
        </mat-grid-tile>
        <mat-grid-tile>
            <figure>
                <img src="/assets/images/Logos/Motor.jpg">
                <figcaption class="caption-text">
                    <p> Motor</p>
                </figcaption>
            </figure>
        </mat-grid-tile>
        <mat-grid-tile>
            <figure>
                <img src="./assets/images/Logos/Water supply.jpg">
                <figcaption class="caption-text">
                    <p>Water supply</p>
                </figcaption>
            </figure>
        </mat-grid-tile>
    </mat-grid-list>
</div>

